openapi: 3.1.0
info:
  title: INHERIT — Open Estate Data Interchange Standard
  version: 1.0.0
  description: |
    INHERIT is an open data standard for estate planning information,
    supporting succession law across common law, civil law, Islamic,
    Jewish, Hindu, Japanese, and African customary legal traditions.

    This document serves two purposes:
    1. Schema bundle — all 36 JSON Schemas as OpenAPI components for
       TypeScript type generation, Zod schema generation, and SDK creation
    2. Validation endpoint — a reference endpoint for document validation

    For the full specification, visit https://openinherit.org
  license:
    name: Apache 2.0
    identifier: Apache-2.0
  contact:
    name: OpenInherit
    url: https://openinherit.org
    email: hello@openinherit.org
servers:
  - url: https://api.openinherit.org/v1
    description: Reference validation server
security: []
paths:
  /validate:
    post:
      operationId: validateDocument
      summary: Validate an INHERIT document
      description: |
        Accepts a complete INHERIT document and returns validation results
        at three conformance levels: Schema Valid, Referentially Intact,
        and Jurisdiction Complete.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schema'
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResult'
        '400':
          description: Invalid JSON payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
components:
  schemas:
    InheritDocument:
      description: The top-level INHERIT document envelope
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/schema'
    Estate:
      description: The estate — links all entities together
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/estate'
    Person:
      description: Any person referenced in the estate
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/person'
    Relationship:
      description: Relationship between two people
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/relationship'
    Kinship:
      description: Family group structure
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/kinship'
    Property:
      description: Real property (land, buildings)
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/property'
    Asset:
      description: Non-property assets (bank accounts, investments, etc.)
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/asset'
    Liability:
      description: Debts, mortgages, loans
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/liability'
    Bequest:
      description: A gift in a will
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/bequest'
    Trust:
      description: Trust arrangements
      x-inherit-maturity: draft
      $ref: '#/components/schemas/trust'
    Executor:
      description: Named executor or administrator
      x-inherit-maturity: draft
      $ref: '#/components/schemas/executor'
    Guardian:
      description: Guardian appointment for minor children
      x-inherit-maturity: draft
      $ref: '#/components/schemas/guardian'
    Wish:
      description: Non-binding wishes (funeral, organ donation, etc.)
      x-inherit-maturity: draft
      $ref: '#/components/schemas/wish'
    Document:
      description: Legal documents (wills, codicils, powers of attorney)
      x-inherit-maturity: draft
      $ref: '#/components/schemas/document'
    Attestation:
      description: Witness attestation of a document
      x-inherit-maturity: draft
      $ref: '#/components/schemas/attestation'
    ProxyAuthorisation:
      description: Power of attorney or deputyship
      x-inherit-maturity: draft
      $ref: '#/components/schemas/proxy-authorisation'
    DealerInterest:
      description: Professional interest in the estate
      x-inherit-maturity: draft
      $ref: '#/components/schemas/dealer-interest'
    NonprobateTransfer:
      description: Assets that pass outside the will
      x-inherit-maturity: draft
      $ref: '#/components/schemas/nonprobate-transfer'
    Money:
      description: Monetary amounts (integer pennies + currency)
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/money'
    Address:
      description: Postal addresses
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/address'
    Jurisdiction:
      description: ISO 3166-2 jurisdiction codes
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/jurisdiction'
    Identifier:
      description: External identifiers (NI number, passport, etc.)
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/identifier'
    TemporalRule:
      description: Time-bound legislation rules
      x-inherit-maturity: draft
      $ref: '#/components/schemas/temporal-rule'
    ExtensionUkEnglandWales:
      description: IHT thresholds, intestacy rules, IFPA 1975 for England & Wales
      x-inherit-maturity: draft
      $ref: '#/components/schemas/uk-england-wales'
    ExtensionUsEstate:
      description: US estate planning — community property, elective share, homestead
      x-inherit-maturity: draft
      $ref: '#/components/schemas/us-estate'
    ExtensionCanada:
      description: Canadian provincial succession rules
      x-inherit-maturity: draft
      $ref: '#/components/schemas/canada'
    ExtensionAustraliaNz:
      description: AU/NZ superannuation, family provision, Maori land
      x-inherit-maturity: draft
      $ref: '#/components/schemas/australia-nz'
    ExtensionEuSuccession:
      description: Brussels IV, European Certificate of Succession, forced heirship
      x-inherit-maturity: draft
      $ref: '#/components/schemas/eu-succession'
    ExtensionJapan:
      description: Japanese succession — koseki, iryubun, yōshi, isan bunkatsu
      x-inherit-maturity: draft
      $ref: '#/components/schemas/japan'
    ExtensionPrcChina:
      description: PRC succession — forced heirship, hukou, notarised certificates
      x-inherit-maturity: draft
      $ref: '#/components/schemas/prc-china'
    ExtensionSingaporeMalaysia:
      description: SG/MY — ISA, AMLA, CPF/EPF nominations, Distribution Act
      x-inherit-maturity: draft
      $ref: '#/components/schemas/singapore-malaysia'
    ExtensionLatinAmerica:
      description: Latin American succession — legítima, forced heirship, fourths system
      x-inherit-maturity: draft
      $ref: '#/components/schemas/latin-america'
    ExtensionIslamic:
      description: Faraid — fixed shares, residuary, awl/radd, wasiyya, waqf
      x-inherit-maturity: draft
      $ref: '#/components/schemas/islamic'
    ExtensionJewish:
      description: Halachic inheritance — bekhor, mezonot, kinyan
      x-inherit-maturity: draft
      $ref: '#/components/schemas/jewish'
    ExtensionIndiaHindu:
      description: Hindu succession — Mitakshara/Dayabhaga, HUF, stridhan
      x-inherit-maturity: draft
      $ref: '#/components/schemas/india-hindu'
    ExtensionAfricaCustomary:
      description: Customary succession — patrilineal/matrilineal, family council, lobola
      x-inherit-maturity: draft
      $ref: '#/components/schemas/africa-customary'
    ValidationResult:
      type: object
      required:
        - valid
        - conformanceLevel
        - errors
      properties:
        valid:
          type: boolean
        conformanceLevel:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
          description: |
            0 = Invalid, 1 = Schema Valid, 2 = Referentially Intact,
            3 = Jurisdiction Complete
        errors:
          type: array
          items:
            type: object
            required:
              - path
              - message
              - level
            properties:
              path:
                type: string
              message:
                type: string
              level:
                type: string
                enum:
                  - error
                  - warning
                  - info
    attestation:
      $schema: https://openinherit.org/v1/dialect.json
      $id: https://openinherit.org/v1/attestation.json
      title: Attestation
      description: Will execution formalities. Standalone — reused by estate, codicils, trusts, extensions. Supports written (E&W Wills Act s.9), oral (Islamic/customary), seal-based (Japanese inkan), kinyan-based (Jewish).
      type: object
      properties:
        date:
          type: string
          format: date
        witnessPersonIds:
          type: array
          items:
            type: string
            format: uuid
        method:
          type: string
          enum:
            - in_person
            - video
            - remote
            - none
            - kinyan_sudar
            - kinyan_agav
            - seal_based
            - inkan_registered
        attestationType:
          type: string
          enum:
            - written_signed
            - oral_witnessed
            - oral_community
            - seal_based
        solicitorSupervised:
          type: boolean
        testatorSignedInPresenceOfWitnesses:
          type: boolean
          $comment: Wills Act 1837 s.9(c).
        witnessesSignedInPresenceOfTestator:
          type: boolean
          $comment: Wills Act 1837 s.9(d).
        witnessConflictCheck:
          type: boolean
        witnessConflictCheckScope:
          type: string
          enum:
            - english_law
            - halachic_broad
            - shariah_standard
            - civil_law_standard
            - customary_oral
            - community_testimony
        notes:
          type: string
      patternProperties:
        ^x-inherit-: {}
      unevaluatedProperties: false
    jurisdiction:
      $schema: https://openinherit.org/v1/dialect.json
      $id: https://openinherit.org/v1/common/jurisdiction.json
      title: Jurisdiction
      description: A legal jurisdiction identified by ISO 3166 codes.
      type: object
      properties:
        country:
          type: string
          pattern: ^[A-Z]{2}$
          description: ISO 3166-1 alpha-2
        subdivision:
          type: string
          pattern: ^[A-Z]{2}-[A-Z0-9]{1,6}$
          $comment: ISO 3166-2. Most codes 2-3 chars; some historic codes longer.
          description: ISO 3166-2 subdivision code (e.g. GB-SCT, US-CA)
        legalSystem:
          type: string
          enum:
            - common_law
            - civil_law
            - mixed
            - religious
            - customary
            - religious_islamic
            - religious_jewish
            - religious_hindu
            - religious_canon
            - plural
          $comment: '''plural'' for dual civil/religious systems (Malaysia, Pakistan, Israel, Nigeria). Use ''religious_*'' when identifying a specific religious legal system as an adjudicating authority.'
        name:
          type: string
          description: Human-readable jurisdiction name (e.g. 'Scotland', 'California')
      required:
        - country
      additionalProperties: false
    money:
      $schema: https://openinherit.org/v1/dialect.json
      $id: https://openinherit.org/v1/common/money.json
      $comment: 'Consumers must look up the ISO 4217 exponent for the currency code. JPY/KRW: exponent 0 (amount IS face value). KWD/BHD/OMR: exponent 3. Most currencies: exponent 2.'
      title: Money
      description: Monetary value in integer minor currency units with ISO 4217 code. Never floating point.
      type: object
      properties:
        amount:
          type: integer
          description: Value in smallest currency unit (e.g. 32500 = £325.00)
        currency:
          type: string
          pattern: ^[A-Z]{3}$
          description: ISO 4217 three-letter code
      required:
        - amount
        - currency
      additionalProperties: false
    TestamentaryCapacity:
      type: object
      properties:
        assessed:
          type: boolean
        assessmentDate:
          type: string
          format: date
        assessorName:
          type: string
        assessorRole:
          type: string
        capacityConfirmed:
          type: boolean
        goldenRuleComplied:
          type: boolean
          $comment: The 'golden rule' (Kenward v Adams [1975]) — elderly/seriously ill testators should have a medical practitioner assess capacity.
        notes:
          type: string
      additionalProperties: false
    Codicil:
      type: object
      properties:
        id:
          type: string
          format: uuid
        date:
          type: string
          format: date
        description:
          type: string
        attestation:
          $ref: '#/components/schemas/attestation'
        documentId:
          type: string
          format: uuid
      required:
        - id
        - date
      additionalProperties: false
    ForcedHeirship:
      type: object
      properties:
        applies:
          type: boolean
        reservedPortion:
          type: number
          minimum: 0
          maximum: 100
        disposableQuota:
          type: number
          minimum: 0
          maximum: 100
        jurisdiction:
          $ref: '#/components/schemas/jurisdiction'
        claimNature:
          type: string
          enum:
            - property_share
            - cash_claim
            - usufruct
            - court_discretion
        calculationBasis:
          type: string
          enum:
            - fixed
            - per_child_sliding
            - court_discretion
            - conditional
        applicableTo:
          type: string
          enum:
            - children_only
            - children_and_spouse
            - all_descendants
            - all_heirs
        deferralRule:
          type: string
        effectiveDate:
          type: string
          format: date
          $comment: 'When these forced heirship rules took effect. Swiss 2023 reform: 2023-01-01.'
        reformVersion:
          type: string
          $comment: e.g., 'Swiss Code 2023 revision', 'French loi 2006-728'.
        notes:
          type: string
      additionalProperties: false
    AdjudicatingBody:
      type: object
      properties:
        type:
          type: string
          enum:
            - secular_court
            - religious_court
            - beth_din
            - shariah_court
            - tribal_court
            - family_court
            - family_council
            - community_elders
            - partition_meeting
            - karta_decision
            - maori_land_court
            - high_court
        name:
          type: string
        jurisdiction:
          $ref: '#/components/schemas/jurisdiction'
        caseReference:
          type: string
        authoritative:
          type: boolean
      required:
        - type
      additionalProperties: false
    ParallelDistribution:
      type: object
      properties:
        system:
          type: string
        jurisdiction:
          $ref: '#/components/schemas/jurisdiction'
        description:
          type: string
        notes:
          type: string
      required:
        - system
      additionalProperties: false
    ProbateGrant:
      type: object
      properties:
        grantType:
          type: string
        grantDate:
          type: string
          format: date
        grantReference:
          type: string
        issuingCourt:
          type: string
        jurisdiction:
          $ref: '#/components/schemas/jurisdiction'
        notes:
          type: string
      additionalProperties: false
    DeathRecord:
      type: object
      properties:
        dateOfDeath:
          type: string
          format: date
        placeOfDeath:
          type: string
        deathCertificateRef:
          type: string
        domicileAtDeath:
          $ref: '#/components/schemas/jurisdiction'
        notes:
          type: string
      additionalProperties: false
    SuccessionConflict:
      type: object
      properties:
        description:
          type: string
        systems:
          type: array
          items:
            type: string
        resolutionStatus:
          type: string
          enum:
            - unresolved
            - resolved
            - pending_court
            - pending_arbitration
        notes:
          type: string
      required:
        - description
      additionalProperties: false
    estate:
      $schema: https://openinherit.org/v1/dialect.json
      $id: https://openinherit.org/v1/estate.json
      title: Estate
      description: The root estate record — will, intestacy, or trust-based succession plan. Contains testator details, jurisdiction, will formalities, forced heirship, probate grants, death record, multi-jurisdiction administration, and tax treaty positions.
      type: object
      $defs:
        Codicil:
          type: object
          properties:
            id:
              type: string
              format: uuid
            date:
              type: string
              format: date
            description:
              type: string
            attestation:
              $ref: '#/components/schemas/attestation'
            documentId:
              type: string
              format: uuid
          required:
            - id
            - date
          additionalProperties: false
        TestamentaryCapacity:
          type: object
          properties:
            assessed:
              type: boolean
            assessmentDate:
              type: string
              format: date
            assessorName:
              type: string
            assessorRole:
              type: string
            capacityConfirmed:
              type: boolean
            goldenRuleComplied:
              type: boolean
              $comment: The 'golden rule' (Kenward v Adams [1975]) — elderly/seriously ill testators should have a medical practitioner assess capacity.
            notes:
              type: string
          additionalProperties: false
        ForcedHeirship:
          type: object
          properties:
            applies:
              type: boolean
            reservedPortion:
              type: number
              minimum: 0
              maximum: 100
            disposableQuota:
              type: number
              minimum: 0
              maximum: 100
            jurisdiction:
              $ref: '#/components/schemas/jurisdiction'
            claimNature:
              type: string
              enum:
                - property_share
                - cash_claim
                - usufruct
                - court_discretion
            calculationBasis:
              type: string
              enum:
                - fixed
                - per_child_sliding
                - court_discretion
                - conditional
            applicableTo:
              type: string
              enum:
                - children_only
                - children_and_spouse
                - all_descendants
                - all_heirs
            deferralRule:
              type: string
            effectiveDate:
              type: string
              format: date
              $comment: 'When these forced heirship rules took effect. Swiss 2023 reform: 2023-01-01.'
            reformVersion:
              type: string
              $comment: e.g., 'Swiss Code 2023 revision', 'French loi 2006-728'.
            notes:
              type: string
          additionalProperties: false
        AdjudicatingBody:
          type: object
          properties:
            type:
              type: string
              enum:
                - secular_court
                - religious_court
                - beth_din
                - shariah_court
                - tribal_court
                - family_court
                - family_council
                - community_elders
                - partition_meeting
                - karta_decision
                - maori_land_court
                - high_court
            name:
              type: string
            jurisdiction:
              $ref: '#/components/schemas/jurisdiction'
            caseReference:
              type: string
            authoritative:
              type: boolean
          required:
            - type
          additionalProperties: false
        ParallelDistribution:
          type: object
          properties:
            system:
              type: string
            jurisdiction:
              $ref: '#/components/schemas/jurisdiction'
            description:
              type: string
            notes:
              type: string
          required:
            - system
          additionalProperties: false
        ProbateGrant:
          type: object
          properties:
            grantType:
              type: string
            grantDate:
              type: string
              format: date
            grantReference:
              type: string
            issuingCourt:
              type: string
            jurisdiction:
              $ref: '#/components/schemas/jurisdiction'
            notes:
              type: string
          additionalProperties: false
        DeathRecord:
          type: object
          properties:
            dateOfDeath:
              type: string
              format: date
            placeOfDeath:
              type: string
            deathCertificateRef:
              type: string
            domicileAtDeath:
              $ref: '#/components/schemas/jurisdiction'
            notes:
              type: string
          additionalProperties: false
        SuccessionConflict:
          type: object
          properties:
            description:
              type: string
            systems:
              type: array
              items:
                type: string
            resolutionStatus:
              type: string
              enum:
                - unresolved
                - resolved
                - pending_court
                - pending_arbitration
            notes:
              type: string
          required:
            - description
          additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        testatorPersonId:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - draft
            - active
            - locked
            - archived
        jurisdiction:
          $ref: '#/components/schemas/jurisdiction'
        willType:
          type: string
          enum:
            - secular
            - religious
            - dual
            - composite
            - oral_witnessed
            - oral_customary
            - holographic
            - notarised
            - privileged_will
        extensionWillType:
          type: string
          $comment: Non-core will types (e.g. jihi_shosho for Japanese holographic wills). Extension schemas validate.
        companionEstateId:
          type: string
          format: uuid
          $comment: For dual-system estates — links secular and religious estate records.
        primaryInstrument:
          type: string
          enum:
            - will
            - revocable_trust
            - both
            - intestacy
        defaultPropertyRegime:
          type: string
          enum:
            - community_property
            - separate_property
            - equitable_distribution
            - deferred_community
            - universal_community
            - participation_in_acquisitions
            - islamic_dower
        totalEstimatedValue:
          $ref: '#/components/schemas/money'
        attestation:
          $ref: '#/components/schemas/attestation'
        testamentaryCapacity:
          $ref: '#/components/schemas/TestamentaryCapacity'
        codicils:
          type: array
          items:
            $ref: '#/components/schemas/Codicil'
        revokesDocumentIds:
          type: array
          items:
            type: string
            format: uuid
        revocationClause:
          type: boolean
        forcedHeirship:
          $ref: '#/components/schemas/ForcedHeirship'
        adjudicatingBodies:
          type: array
          items:
            $ref: '#/components/schemas/AdjudicatingBody'
        parallelDistributions:
          type: array
          items:
            $ref: '#/components/schemas/ParallelDistribution'
        probateGrant:
          $ref: '#/components/schemas/ProbateGrant'
        deathRecord:
          $ref: '#/components/schemas/DeathRecord'
        successionConflicts:
          type: array
          items:
            $ref: '#/components/schemas/SuccessionConflict'
        choiceOfLaw:
          type: object
          $comment: Brussels IV Regulation choice of law. Allows EU nationals to choose their nationality's law for succession.
          properties:
            chosenLaw:
              $ref: '#/components/schemas/jurisdiction'
            basis:
              type: string
            documentRef:
              type: string
          additionalProperties: false
        electiveShareRight:
          type: object
          $comment: US — surviving spouse's right to elect against the will.
          properties:
            available:
              type: boolean
            electedAmount:
              $ref: '#/components/schemas/money'
            statute:
              type: string
            notes:
              type: string
          additionalProperties: false
        priorMatrimonialClaim:
          type: object
          properties:
            exists:
              type: boolean
            description:
              type: string
            claimantPersonId:
              type: string
              format: uuid
            notes:
              type: string
          additionalProperties: false
        noContestClause:
          type: object
          $comment: In terrorem clause — beneficiary forfeits gift if they challenge the will.
          properties:
            present:
              type: boolean
            enforceability:
              type: string
            notes:
              type: string
          additionalProperties: false
        pretermittedHeirClaims:
          type: array
          $comment: Claims by children born/adopted after the will was made.
          items:
            type: object
            properties:
              claimantPersonId:
                type: string
                format: uuid
              status:
                type: string
              notes:
                type: string
            additionalProperties: false
        testamentaryPromises:
          type: array
          $comment: NZ — claims under the Law Reform (Testamentary Promises) Act 1949.
          items:
            type: object
            properties:
              claimantPersonId:
                type: string
                format: uuid
              promiseDescription:
                type: string
              status:
                type: string
              notes:
                type: string
            additionalProperties: false
        judicialVariationPower:
          type: object
          $comment: UK/NZ — court power to vary a will under the Inheritance (Provision for Family and Dependants) Act 1975 or equivalent.
          properties:
            available:
              type: boolean
            statute:
              type: string
            notes:
              type: string
          additionalProperties: false
        commorientesRule:
          type: object
          $comment: Rule determining order of death when people die in the same event. Varies by jurisdiction.
          properties:
            applicable:
              type: boolean
            rule:
              type: string
            jurisdiction:
              $ref: '#/components/schemas/jurisdiction'
            notes:
              type: string
          additionalProperties: false
        ancillaryProbate:
          type: array
          $comment: Multi-jurisdiction estate administration. Each entry represents one jurisdiction's administration.
          items:
            type: object
            properties:
              jurisdiction:
                $ref: '#/components/schemas/jurisdiction'
              fiduciaryPersonId:
                type: string
                format: uuid
              status:
                type: string
                enum:
                  - not_started
                  - applied
                  - granted
                  - completed
                  - waived
              grantReference:
                type: string
              localCounsel:
                type: string
              notes:
                type: string
            required:
              - jurisdiction
            additionalProperties: false
        registrations:
          type: array
          $comment: Will registries worldwide (DIFC Wills Service Centre, UK Probate Registry, etc.).
          items:
            type: object
            properties:
              registry:
                type: string
              registrationNumber:
                type: string
              jurisdictionScope:
                type: string
              registrationDate:
                type: string
                format: date
            required:
              - registry
            additionalProperties: false
        reportingCurrency:
          type: string
          pattern: ^[A-Z]{3}$
          $comment: ISO 4217 currency for probate reporting.
        conversionRates:
          type: array
          $comment: Exchange rates used for estate valuation in cross-border estates.
          items:
            type: object
            properties:
              fromCurrency:
                type: string
                pattern: ^[A-Z]{3}$
              toCurrency:
                type: string
                pattern: ^[A-Z]{3}$
              rate:
                type: number
                exclusiveMinimum: 0
              rateDate:
                type: string
                format: date
              source:
                type: string
            required:
              - fromCurrency
              - toCurrency
              - rate
              - rateDate
            additionalProperties: false
        taxTreatyPositions:
          type: array
          $comment: Bilateral tax treaty claims relevant to the estate.
          items:
            type: object
            properties:
              treaty:
                type: string
              primaryTaxingJurisdiction:
                $ref: '#/components/schemas/jurisdiction'
              claimedCredits:
                type: string
              relevantArticle:
                type: string
              notes:
                type: string
            required:
              - treaty
            additionalProperties: false
        suggestedPractitionerNeeds:
          type: array
          items:
            type: string
          $comment: Informational. Activity codes computed from estate complexity — e.g. trust_preparation, cross_border, iht_planning. Canonical taxonomy at openinherit.org/reference/practitioner-activities.json.
        createdAt:
          type: string
          format: date
        lastModifiedAt:
          type: string
          format: date
        notes:
          type: string
      required:
        - id
        - testatorPersonId
        - status
        - jurisdiction
        - createdAt
        - lastModifiedAt
      patternProperties:
        ^x-inherit-: {}
      unevaluatedProperties: false
    address:
      $schema: https://openinherit.org/v1/dialect.json
      $id: https://openinherit.org/v1/common/address.json
      $comment: All fields optional. Supports Western, Japanese (reversed), Indian (landmark-based), African (informal) addressing. An empty object is valid — some jurisdictions have no formal address system.
      title: PostalAddress
      description: A physical address. Culturally neutral — supports any global addressing convention.
      type: object
      properties:
        streetAddress:
          type: string
          description: Street number and name
        addressLine2:
          type: string
          description: Flat, suite, building, floor
        addressLocality:
          type: string
          description: City, town, village, or ward
        addressRegion:
          type: string
          description: State, prefecture, province, county
        postalCode:
          type: string
        addressCountry:
          type: string
          pattern: ^[A-Z]{2}$
          description: ISO 3166-1 alpha-2
        latitude:
          type: number
          minimum: -90
          maximum: 90
        longitude:
          type: number
          minimum: -180
          maximum: 180
        landmark:
          type: string
          $comment: Common in India, Nigeria, rural areas. 'Near Meenakshi Temple' or 'Behind Shoprite, Lekki Phase 1'.
        directionNotes:
          type: string
          $comment: Free-form directions when no formal address exists. Common in rural Africa, parts of India.
        addressOrder:
          type: string
          enum:
            - western
            - japanese
            - indian
            - arabic
            - custom
          $comment: japanese = country → prefecture → city → ward → block → building (reversed from Western). Determines display order.
      additionalProperties: false
    identifier:
      $schema: https://openinherit.org/v1/dialect.json
      $id: https://openinherit.org/v1/common/identifier.json
      title: Identifier
      description: A typed external identifier. Use 'system' to namespace (e.g. 'urn:hmrc:nino').
      type: object
      properties:
        system:
          type: string
          description: Namespace URI or name
        value:
          type: string
          description: The identifier value
        type:
          type: string
          description: Type label (e.g. 'passport', 'national_insurance', 'charity_number')
      required:
        - value
      additionalProperties: false
    person:
      $schema: https://openinherit.org/v1/dialect.json
      $id: https://openinherit.org/v1/person.json
      title: Person
      description: A person involved in the estate. Schema.org name alignment. Any Unicode script. Supports CJK phonetic readings, chieftaincy titles, clan/lineage identifiers, dual legal personalities, and tax residency across multiple jurisdictions.
      type: object
      properties:
        id:
          type: string
          format: uuid
        givenName:
          type: string
          minLength: 1
          description: 'First/given name (Schema.org: givenName)'
        familyName:
          type: string
          minLength: 1
          $comment: Optional — Tamil naming uses a single name. Systems must handle absent familyName.
          description: 'Last/family/surname (Schema.org: familyName)'
        additionalName:
          type: string
          description: 'Middle name(s) (Schema.org: additionalName)'
        preferredName:
          type: string
          description: Name the person prefers to be called
        phoneticReading:
          type: object
          $comment: 'Required for CJK names. Japanese: furigana/romaji. Chinese: pinyin. Korean: romanisation. Ensures names can be read by non-native systems.'
          properties:
            givenName:
              type: string
            familyName:
              type: string
            fullName:
              type: string
          minProperties: 1
          additionalProperties: false
        titles:
          type: array
          $comment: Chieftaincy titles (Nigerian), honorifics (Japanese), caste/clan titles (Indian), religious titles, academic degrees.
          items:
            type: object
            properties:
              title:
                type: string
              type:
                type: string
                enum:
                  - chieftaincy
                  - traditional
                  - religious
                  - professional
                  - honorific
                  - clan
                  - academic
                  - military
                  - other
            required:
              - title
            additionalProperties: false
        clanOrLineage:
          type: string
          $comment: Tribal clan, Indian gotra/caste, family lineage. Determines inheritance rights in customary/Hindu systems.
        dateOfBirth:
          type: string
          format: date
          description: ISO 8601 date of birth
        dateOfDeath:
          type: string
          format: date
          description: ISO 8601 date of death (if deceased)
        gender:
          type: string
          enum:
            - male
            - female
            - non_binary
            - other
            - prefer_not_to_say
            - unknown
          $comment: Optional but needed for gender-dependent inheritance (Islamic faraid, Hindu succession pre-2005). Halachic/Islamic gender categories available via x-inherit-* extensions.
        domicile:
          $ref: '#/components/schemas/jurisdiction'
          $comment: Domicile (not residence/nationality) determines succession law for moveables in conflict-of-laws. A British citizen domiciled in France has moveables governed by French forced heirship.
        roles:
          type: array
          items:
            type: string
            enum:
              - testator
              - beneficiary
              - executor
              - guardian
              - trustee
              - witness
              - attorney
              - proxy
              - protector
              - enforcer
          minItems: 1
          uniqueItems: true
          $comment: Core roles define the person's function in the estate. Extension-specific roles (bekhor, karta, okpara, mutawalli) should be added via x-inherit-* blocks alongside core roles. The array is intentionally extensible — a person can be both 'executor' (core) and 'karta' (x-inherit-india-hindu). Extensions should NOT attempt to add values to this enum.
        contact:
          type: object
          properties:
            email:
              type: string
              format: email
            phone:
              type: string
              description: Phone number (E.164 recommended)
            address:
              $ref: '#/components/schemas/address'
          additionalProperties: false
        identifiers:
          type: array
          items:
            $ref: '#/components/schemas/identifier'
          description: External identifiers (passport, national ID, etc.)
        ritualName:
          type: object
          $comment: 'Structured religious name. Hebrew: ''Dovid ben Avraham''. Arabic nasab: ''Ahmed ibn Muhammad''. Hindu: gotra + name. Used for halachic documents, Shariah court filings, religious ceremonies.'
          properties:
            name:
              type: string
              description: The full ritual/religious name
            patronymic:
              type: string
              description: Patronymic element (ben/bat, ibn/bint, etc.)
            nameSystem:
              type: string
              description: 'Naming tradition: hebrew, arabic_nasab, hindu, buddhist, etc.'
          required:
            - name
          additionalProperties: false
        legalPersonalities:
          type: array
          $comment: 'A person can have different legal identities across systems. Under statutory law: property owner. Under customary law: okpara (first son) with custodial authority. Under religious law: a Kohen.'
          items:
            type: object
            properties:
              system:
                type: string
                enum:
                  - statutory
                  - customary
                  - religious
                  - traditional
              role:
                type: string
              jurisdiction:
                $ref: '#/components/schemas/jurisdiction'
              notes:
                type: string
            required:
              - system
              - role
            additionalProperties: false
        taxResidency:
          type: array
          $comment: Tax residency in one or more jurisdictions. Handles FATCA (US), CRS, JP/US estate tax treaty, expat tax. A person may be tax-resident in multiple jurisdictions simultaneously.
          items:
            type: object
            properties:
              jurisdiction:
                $ref: '#/components/schemas/jurisdiction'
              taxpayerIdentifier:
                type: string
                $comment: SSN (US), TFN (AU), My Number (JP), NINO (UK)
              treatyPosition:
                type: string
                $comment: Relevant treaty claim, e.g., 'US-JP Estate Tax Treaty Art. 4'
              fatcaStatus:
                type: string
                enum:
                  - us_person
                  - non_us_person
                  - exempt
                  - unknown
                $comment: FATCA classification. US persons have worldwide reporting obligations.
            required:
              - jurisdiction
            additionalProperties: false
        language:
          type: string
          description: BCP 47 language tag for preferred language
        notes:
          type: string
      required:
        - id
        - givenName
        - roles
      patternProperties:
        ^x-inherit-: {}
      unevaluatedProperties: false
    kinship:
      $schema: https://openinherit.org/v1/dialect.json
      $id: https://openinherit.org/v1/kinship.json
      title: Kinship
      description: 'A familial bond between two people. Essential for intestacy calculation — inheritance rules in every jurisdiction depend on parent-child, sibling, and other familial relationships. Direction: fromPersonId is the parent/elder, toPersonId is the child/younger (for parent-child types). Indian extensions may add PARENT_CHILD_COPARCENARY, KARTA_MEMBER. See extensions/india-hindu.json.'
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
            - PARENT_CHILD_BIOLOGICAL
            - PARENT_CHILD_ADOPTED
            - PARENT_CHILD_STEP
            - PARENT_CHILD_FOSTER
            - PARENT_CHILD_ACKNOWLEDGED
            - SIBLING
            - HALF_SIBLING_PATERNAL
            - HALF_SIBLING_MATERNAL
            - STEP_SIBLING
            - GRANDPARENT_GRANDCHILD
            - UNCLE_NEPHEW
            - AUNT_NEPHEW
          $comment: 'HALF_SIBLING_PATERNAL = same father, different mother. HALF_SIBLING_MATERNAL = same mother, different father. Critical for Islamic faraid — paternal half-siblings inherit differently from maternal half-siblings. UNCLE_NEPHEW/AUNT_NEPHEW: supports matrilineal African succession (maternal uncle inherits) and Islamic ta''sib hierarchy (paternal uncle''s son). PARENT_CHILD_ACKNOWLEDGED: father acknowledges a child of uncertain parentage — relevant for Islamic inheritance.'
        fromPersonId:
          type: string
          format: uuid
          description: Parent/elder person in the kinship (Person.id)
        toPersonId:
          type: string
          format: uuid
          description: Child/younger person in the kinship (Person.id)
        legalStatus:
          type: string
          enum:
            - recognised
            - contested
            - pending
            - unrecognised
          description: Legal recognition status of this familial bond
        legitimacy:
          type: string
          enum:
            - legitimate
            - illegitimate
            - legitimated
            - not_applicable
          $comment: Affects inheritance in Islamic law (illegitimate children don't inherit via faraid), some African customary systems, and pre-1970 English law. Use 'not_applicable' where the distinction has been abolished.
        adoptionDate:
          type: string
          format: date
          description: Date of adoption order (for PARENT_CHILD_ADOPTED)
        courtOrderRef:
          type: string
          description: Court order or adoption certificate reference
        notes:
          type: string
      required:
        - id
        - type
        - fromPersonId
        - toPersonId
      patternProperties:
        ^x-inherit-: {}
      unevaluatedProperties: false
    Partner:
      type: object
      properties:
        personId:
          type: string
          format: uuid
          description: Reference to a Person.id
        displayLabel:
          type: string
          description: Optional non-gendered label (e.g. 'First Wife', 'Partner A')
        ordinal:
          type: integer
          minimum: 1
          description: Position in partner list (1-based)
      required:
        - personId
        - ordinal
      additionalProperties: false
    RelationshipEvent:
      type: object
      properties:
        type:
          type: string
          enum:
            - CEREMONY
            - REGISTRATION
            - ENGAGEMENT
            - MARRIAGE_CONTRACT
            - PROPERTY_REGIME_CHANGE
            - SEPARATION_INFORMAL
            - SEPARATION_LEGAL
            - DIVORCE_FILED
            - DIVORCE_FINALISED
            - FINANCIAL_ORDER
            - ANNULMENT
            - DISSOLUTION
            - DEATH_OF_PARTNER
            - RECONCILIATION
            - VOID_DECLARATION
            - MAHR_PAYMENT
            - LOBOLA_PAYMENT
        date:
          type: string
          format: date
          description: ISO 8601 date
        jurisdiction:
          $ref: '#/components/schemas/jurisdiction'
        notes:
          type: string
      required:
        - type
        - date
      additionalProperties: false
    JurisdictionalRecognition:
      type: object
      $comment: 'How a jurisdiction recognises this relationship. Enables modelling of civil/religious status divergence (e.g. agunah: civilly divorced but halachically married).'
      properties:
        jurisdiction:
          $ref: '#/components/schemas/jurisdiction'
        recognised:
          type: boolean
        recognisedAs:
          type: string
          description: What this jurisdiction recognises it as (if different)
        notes:
          type: string
      required:
        - jurisdiction
        - recognised
      additionalProperties: false
    FinancialInstrument:
      type: object
      properties:
        type:
          type: string
          enum:
            - MAHR
            - KETUBAH
            - LOBOLA
            - PRENUPTIAL_AGREEMENT
            - POSTNUPTIAL_AGREEMENT
            - MARRIAGE_SETTLEMENT
        value:
          $ref: '#/components/schemas/money'
        status:
          type: string
          enum:
            - AGREED
            - PAID
            - PARTIALLY_PAID
            - DEFERRED
            - DISPUTED
            - WAIVED
        description:
          type: string
        documentRef:
          type: string
          description: Reference to a Document.id
        date:
          type: string
          format: date
        inheritanceImpact:
          type: string
          description: How this affects inheritance distribution
        maharDetails:
          type: object
          $comment: Required when type is MAHR. Structured mahr data for Islamic estates.
          properties:
            maharType:
              type: string
              enum:
                - prompt
                - deferred
                - combination
            recipientPersonId:
              type: string
              format: uuid
            linkedLiabilityId:
              type: string
              format: uuid
              $comment: Links to the Liability entity representing this mahr as an estate debt
          additionalProperties: false
        ketubahDetails:
          type: object
          $comment: Required when type is KETUBAH. Structured ketubah data for Jewish estates.
          properties:
            principalAmount:
              $ref: '#/components/schemas/money'
              $comment: Ikkar ketubah — standard amount (200 zuz for virgin, 100 for widow/divorcee)
            tosefetAmount:
              $ref: '#/components/schemas/money'
              $comment: Tosefet ketubah — groom's additional amount
            nedunya:
              $ref: '#/components/schemas/money'
              $comment: Dowry brought by the bride
            brideStatus:
              type: string
              enum:
                - virgin
                - widow
                - divorcee
            witnessPersonIds:
              type: array
              items:
                type: string
                format: uuid
            officiatingRabbi:
              type: string
          additionalProperties: false
        lobolaDetails:
          type: object
          $comment: Structured lobola data for African customary estates.
          properties:
            negotiatedWith:
              type: string
              $comment: Family or person lobola was negotiated with
            includesLivestock:
              type: boolean
            livestockCount:
              type: integer
              minimum: 0
          additionalProperties: false
      required:
        - type
      allOf:
        - $comment: MAHR requires maharDetails
          if:
            properties:
              type:
                const: MAHR
            required:
              - type
          then:
            required:
              - maharDetails
        - $comment: KETUBAH requires ketubahDetails
          if:
            properties:
              type:
                const: KETUBAH
            required:
              - type
          then:
            required:
              - ketubahDetails
      additionalProperties: false
    relationship:
      $schema: https://openinherit.org/v1/dialect.json
      $id: https://openinherit.org/v1/relationship.json
      title: Relationship
      description: Spousal/partnership relationship. N-partner support (no structural two-partner limit). Event-based timeline (status derived from events). No gendered role names. Financial instruments with MAHR/KETUBAH subtype validation. Cross-jurisdiction recognition for dual civil/religious status.
      type: object
      $defs:
        Partner:
          type: object
          properties:
            personId:
              type: string
              format: uuid
              description: Reference to a Person.id
            displayLabel:
              type: string
              description: Optional non-gendered label (e.g. 'First Wife', 'Partner A')
            ordinal:
              type: integer
              minimum: 1
              description: Position in partner list (1-based)
          required:
            - personId
            - ordinal
          additionalProperties: false
        RelationshipEvent:
          type: object
          properties:
            type:
              type: string
              enum:
                - CEREMONY
                - REGISTRATION
                - ENGAGEMENT
                - MARRIAGE_CONTRACT
                - PROPERTY_REGIME_CHANGE
                - SEPARATION_INFORMAL
                - SEPARATION_LEGAL
                - DIVORCE_FILED
                - DIVORCE_FINALISED
                - FINANCIAL_ORDER
                - ANNULMENT
                - DISSOLUTION
                - DEATH_OF_PARTNER
                - RECONCILIATION
                - VOID_DECLARATION
                - MAHR_PAYMENT
                - LOBOLA_PAYMENT
            date:
              type: string
              format: date
              description: ISO 8601 date
            jurisdiction:
              $ref: '#/components/schemas/jurisdiction'
            notes:
              type: string
          required:
            - type
            - date
          additionalProperties: false
        FinancialInstrument:
          type: object
          properties:
            type:
              type: string
              enum:
                - MAHR
                - KETUBAH
                - LOBOLA
                - PRENUPTIAL_AGREEMENT
                - POSTNUPTIAL_AGREEMENT
                - MARRIAGE_SETTLEMENT
            value:
              $ref: '#/components/schemas/money'
            status:
              type: string
              enum:
                - AGREED
                - PAID
                - PARTIALLY_PAID
                - DEFERRED
                - DISPUTED
                - WAIVED
            description:
              type: string
            documentRef:
              type: string
              description: Reference to a Document.id
            date:
              type: string
              format: date
            inheritanceImpact:
              type: string
              description: How this affects inheritance distribution
            maharDetails:
              type: object
              $comment: Required when type is MAHR. Structured mahr data for Islamic estates.
              properties:
                maharType:
                  type: string
                  enum:
                    - prompt
                    - deferred
                    - combination
                recipientPersonId:
                  type: string
                  format: uuid
                linkedLiabilityId:
                  type: string
                  format: uuid
                  $comment: Links to the Liability entity representing this mahr as an estate debt
              additionalProperties: false
            ketubahDetails:
              type: object
              $comment: Required when type is KETUBAH. Structured ketubah data for Jewish estates.
              properties:
                principalAmount:
                  $ref: '#/components/schemas/money'
                  $comment: Ikkar ketubah — standard amount (200 zuz for virgin, 100 for widow/divorcee)
                tosefetAmount:
                  $ref: '#/components/schemas/money'
                  $comment: Tosefet ketubah — groom's additional amount
                nedunya:
                  $ref: '#/components/schemas/money'
                  $comment: Dowry brought by the bride
                brideStatus:
                  type: string
                  enum:
                    - virgin
                    - widow
                    - divorcee
                witnessPersonIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                officiatingRabbi:
                  type: string
              additionalProperties: false
            lobolaDetails:
              type: object
              $comment: Structured lobola data for African customary estates.
              properties:
                negotiatedWith:
                  type: string
                  $comment: Family or person lobola was negotiated with
                includesLivestock:
                  type: boolean
                livestockCount:
                  type: integer
                  minimum: 0
              additionalProperties: false
          required:
            - type
          allOf:
            - $comment: MAHR requires maharDetails
              if:
                properties:
                  type:
                    const: MAHR
                required:
                  - type
              then:
                required:
                  - maharDetails
            - $comment: KETUBAH requires ketubahDetails
              if:
                properties:
                  type:
                    const: KETUBAH
                required:
                  - type
              then:
                required:
                  - ketubahDetails
          additionalProperties: false
        JurisdictionalRecognition:
          type: object
          $comment: 'How a jurisdiction recognises this relationship. Enables modelling of civil/religious status divergence (e.g. agunah: civilly divorced but halachically married).'
          properties:
            jurisdiction:
              $ref: '#/components/schemas/jurisdiction'
            recognised:
              type: boolean
            recognisedAs:
              type: string
              description: What this jurisdiction recognises it as (if different)
            notes:
              type: string
          required:
            - jurisdiction
            - recognised
          additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
            - MARRIAGE_CIVIL
            - MARRIAGE_RELIGIOUS
            - MARRIAGE_CUSTOMARY
            - MARRIAGE_COMMON_LAW
            - CIVIL_PARTNERSHIP
            - CIVIL_UNION
            - DOMESTIC_PARTNERSHIP
            - DE_FACTO
            - COHABITATION
            - ENGAGEMENT
          $comment: Religious subtypes (nikah, kiddushin, hindu_vivah) go in religiousSubtype. MARRIAGE_CUSTOMARY covers customary unions.
        religiousSubtype:
          type: string
          $comment: 'Specific religious marriage form: nikah, kiddushin, hindu_vivah, anand_karaj (Sikh), etc. Only meaningful when type is MARRIAGE_RELIGIOUS.'
        selfDeclaredType:
          type: string
          description: How the parties themselves describe this relationship
        partners:
          type: array
          items:
            $ref: '#/components/schemas/Partner'
          minItems: 2
          description: The people in this relationship. Minimum 2, no structural upper limit.
        events:
          type: array
          items:
            $ref: '#/components/schemas/RelationshipEvent'
          description: Chronological events determining relationship status
        currentStatus:
          type: string
          enum:
            - ACTIVE
            - SEPARATED_INFORMAL
            - SEPARATED_LEGAL
            - DIVORCED
            - ANNULLED
            - DISSOLVED
            - WIDOWED
            - VOID
            - PUTATIVE
          $comment: Convenience denormalisation. The authoritative status SHOULD be derived from the most recent event in the events array. Producers MUST keep this consistent with the event timeline. Consumers SHOULD derive from events when events are present.
        jurisdiction:
          $ref: '#/components/schemas/jurisdiction'
          description: Primary jurisdiction where this relationship was formed
        jurisdictionalRecognition:
          type: array
          items:
            $ref: '#/components/schemas/JurisdictionalRecognition'
          description: How other jurisdictions recognise (or don't) this relationship
        financialInstruments:
          type: array
          items:
            $ref: '#/components/schemas/FinancialInstrument'
          description: Mahr, ketubah, lobola, prenuptial agreements, etc.
        propertyRegime:
          type: string
          enum:
            - COMMUNITY_OF_PROPERTY
            - SEPARATION_OF_PROPERTY
            - COMMUNITY_OF_ACQUESTS
            - DEFERRED_COMMUNITY
            - SEPARATE_AS_MODIFIED
            - ISLAMIC_DOWER
            - US_COMMUNITY_PROPERTY
            - US_COMMUNITY_WITH_SURVIVORSHIP
            - US_QUASI_COMMUNITY
            - HINDU_SEPARATE
          description: The marital property regime
        notes:
          type: string
      required:
        - id
        - type
        - partners
      patternProperties:
        ^x-inherit-: {}
      unevaluatedProperties: false
    property:
      $schema: https://openinherit.org/v1/dialect.json
      $id: https://openinherit.org/v1/property.json
      title: Property
      description: Real estate. Supports individual ownership, communal/family property (Nigeria), HUF coparcenary (India), government-vested land (Land Use Act), US community property, and informal/unregistered holdings.
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          description: Display name (e.g. 'Family Home', '42 Acacia Avenue')
        propertyType:
          type: string
          enum:
            - detached_house
            - semi_detached_house
            - terraced_house
            - flat
            - maisonette
            - bungalow
            - cottage
            - farmhouse
            - barn_conversion
            - land
            - commercial
            - mixed_use
            - houseboat
            - mobile_home
            - other
        address:
          $ref: '#/components/schemas/address'
        estimatedValue:
          $ref: '#/components/schemas/money'
        professionalValuation:
          $ref: '#/components/schemas/money'
        valuationDate:
          type: string
          format: date
        valuationConfidence:
          type: string
          enum:
            - estimated
            - professional
            - probate
            - unknown
        isPrimaryResidence:
          type: boolean
          $comment: Annotation only — JSON Schema 'default' does not insert values. Consuming apps must implement defaulting.
        ownershipType:
          type: string
          enum:
            - sole
            - joint_tenants
            - tenants_in_common
            - trust
            - tenancy_by_entirety
          $comment: tenancy_by_entirety = US spousal joint tenancy (PA, FL, MA, IL, OH, etc.). Survives creditors of the deceased spouse.
        ownershipPercentage:
          type: number
          minimum: 0
          maximum: 100
          multipleOf: 0.01
          $comment: Capped at 2 decimal places. For legal disputes requiring higher precision, use notes.
        ownershipModel:
          type: string
          enum:
            - individual
            - joint
            - communal_family
            - huf_coparcenary
            - tribal
            - government_vested
            - trust_held
          $comment: communal_family = Nigerian family land, clan property. huf_coparcenary = Hindu Undivided Family joint property (India). government_vested = Nigerian Certificate of Occupancy. tribal = indigenous/tribal communal land.
        acquisitionType:
          type: string
          enum:
            - self_acquired
            - ancestral_joint
            - ancestral_severed
            - inherited
            - gifted
            - stridhan
            - communal
            - waqf_endowed
          $comment: Determines which succession law applies in India. ancestral_joint = coparcenary (devolves by survivorship). self_acquired = succession (devolves by will/intestacy). stridhan = Hindu woman's absolute property.
        tenureType:
          type: string
          enum:
            - freehold
            - leasehold
            - certificate_of_occupancy
            - customary_right_of_occupancy
            - communal
            - government_allocated
            - traditional_authority_granted
            - informal_unregistered
          $comment: 'Nigerian Land Use Act 1978: all urban land vested in state governor — you hold a Certificate of Occupancy, not freehold.'
        registrationStatus:
          type: string
          enum:
            - formally_registered
            - informally_held
            - community_acknowledged
            - disputed
            - undocumented
        ownershipEvidence:
          type: string
          enum:
            - title_deed
            - certificate_of_occupancy
            - family_recognition
            - community_testimony
            - receipts_only
            - none
        applicableSuccessionLaw:
          type: object
          $comment: Which succession law governs this property. Immoveables typically governed by lex rei sitae (law where the property is situated).
          properties:
            jurisdiction:
              $ref: '#/components/schemas/jurisdiction'
            lawName:
              type: string
              $comment: e.g., 'Hindu Succession Act 1956', 'Japanese Civil Code'
            section:
              type: string
              $comment: e.g., 's.6 (coparcenary)'
          required:
            - jurisdiction
          additionalProperties: false
        custodianPersonId:
          type: string
          format: uuid
          $comment: 'For communal/family property: the current custodian (not owner). On death, custodianship passes by custom, not by will.'
        successionRule:
          type: string
          enum:
            - testamentary
            - intestacy
            - customary_eldest_son
            - customary_family_council
            - customary_matrilineal
            - survivorship
            - not_individually_bequeathable
          $comment: How this property passes on death. 'not_individually_bequeathable' = communal property that cannot be included in a will.
        governmentConsentRequired:
          type: boolean
          $comment: 'Nigerian Land Use Act: governor''s consent required for all transfers of rights. Some Indian states require similar for agricultural land.'
        mobilityType:
          type: string
          enum:
            - immoveable
            - moveable
            - mixed
          $comment: Relevant for Shia inheritance (immoveable property rules differ), French succession (lex rei sitae), and halachic bekhor rules.
        mortgageOutstanding:
          $ref: '#/components/schemas/money'
        characterClassification:
          type: string
          enum:
            - community
            - separate
            - quasi_community
            - mixed
            - not_applicable
          $comment: 'US community property states (CA, TX, AZ, WA, NV, NM, LA, ID, WI): community = 50/50. quasi_community = CA-specific (property acquired in a non-community state but treated as community on divorce/death). ''not_applicable'' for jurisdictions without this distinction.'
        homesteadStatus:
          type: object
          $comment: 'Homestead exemption protects primary residence from creditors and may restrict devise. Florida: unlimited value. Texas: 200 acres rural / 10 acres urban.'
          properties:
            isHomestead:
              type: boolean
            exemptionAmount:
              $ref: '#/components/schemas/money'
            exemptionUnlimited:
              type: boolean
              $comment: Florida, Texas (rural), Iowa, Kansas, Oklahoma, South Dakota.
            deviseRestriction:
              type: boolean
              $comment: 'Florida: cannot devise homestead away from spouse/minor children.'
            notes:
              type: string
          additionalProperties: false
        passesOutsideEstate:
          type: boolean
          $comment: True if this property passes outside probate (JTWROS, TOD deed, trust-held). NOT distributed under the will.
        statutoryLifeEstate:
          type: object
          $comment: Statutory life estate imposed by law (Alberta Dower Act, Florida homestead devise restriction). Not the same as a testamentary life interest.
          properties:
            beneficiaryPersonId:
              type: string
              format: uuid
            basis:
              type: string
              $comment: Legal basis — e.g., 'Alberta Dower Act', 'Florida Constitution Art. X s.4'
            conditions:
              type: string
          additionalProperties: false
        notes:
          type: string
      required:
        - id
        - name
      patternProperties:
        ^x-inherit-: {}
      unevaluatedProperties: false
    Photo:
      type: object
      properties:
        url:
          type: string
          format: uri
        caption:
          type: string
      required:
        - url
      additionalProperties: false
    asset:
      $schema: https://openinherit.org/v1/dialect.json
      $id: https://openinherit.org/v1/asset.json
      title: Asset
      description: 'A non-property asset: financial accounts, personal property, vehicles, digital assets, business interests, Islamic finance instruments, etc.'
      type: object
      $defs:
        Photo:
          type: object
          properties:
            url:
              type: string
              format: uri
            caption:
              type: string
          required:
            - url
          additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          description: Display name for this asset
        category:
          type: string
          enum:
            - bank_account
            - savings_account
            - investment
            - pension
            - shares
            - premium_bonds
            - cryptocurrency
            - insurance
            - vehicle
            - jewellery
            - art
            - antiques
            - collectibles
            - furniture
            - electronics
            - musical_instruments
            - books
            - clothing
            - kitchenware
            - sports_equipment
            - firearms
            - wine_and_spirits
            - tools
            - garden_and_outdoor
            - business_interest
            - intellectual_property
            - domain_name
            - social_media_account
            - digital_subscription
            - sukuk
            - takaful
            - islamic_deposit
            - other
          $comment: sukuk = Islamic bond. takaful = Islamic insurance. islamic_deposit = Shariah-compliant deposit.
        subcategory:
          type: string
        estimatedValue:
          $ref: '#/components/schemas/money'
        professionalValuation:
          $ref: '#/components/schemas/money'
        valuationDate:
          type: string
          format: date
        valuationConfidence:
          type: string
          enum:
            - estimated
            - professional
            - probate
            - unknown
        condition:
          type: string
          enum:
            - excellent
            - good
            - fair
            - poor
            - unknown
            - not_applicable
          $comment: Use 'not_applicable' for financial assets.
        quantity:
          type: integer
          minimum: 1
        location:
          type: string
          description: Where this asset is stored or held
        propertyId:
          type: string
          format: uuid
          description: Reference to a Property.id if located at a property
        identifiers:
          type: array
          items:
            $ref: '#/components/schemas/identifier'
          description: Serial numbers, account numbers, policy refs, etc.
        photos:
          type: array
          items:
            $ref: '#/components/schemas/Photo'
        possessionStatus:
          type: string
          enum:
            - possessed_at_death
            - receivable
            - contingent
          $comment: Distinguishes assets held at death from those receivable after (insurance payouts, debts owed). Under halacha, the bekhor's double portion applies only to 'possessed_at_death' (muchzak), not 'receivable' (ra'ui). Useful for probate valuations universally.
        mobilityType:
          type: string
          enum:
            - immoveable
            - moveable
            - mixed
          $comment: Relevant for Shia inheritance and French lex rei sitae.
        acquisitionType:
          type: string
          enum:
            - self_acquired
            - ancestral_joint
            - ancestral_severed
            - inherited
            - gifted
            - stridhan
            - communal
            - waqf_endowed
        registrationStatus:
          type: string
          enum:
            - formally_registered
            - informally_held
            - community_acknowledged
            - disputed
            - undocumented
        ownershipEvidence:
          type: string
          enum:
            - title_deed
            - certificate_of_occupancy
            - family_recognition
            - community_testimony
            - receipts_only
            - none
        applicableSuccessionLaw:
          type: object
          properties:
            jurisdiction:
              $ref: '#/components/schemas/jurisdiction'
            lawName:
              type: string
            section:
              type: string
          required:
            - jurisdiction
          additionalProperties: false
        beneficiaryDesignation:
          type: object
          $comment: For assets with named beneficiaries (retirement accounts, life insurance, POD bank accounts). These pass OUTSIDE the estate.
          properties:
            primaryBeneficiaryPersonIds:
              type: array
              items:
                type: string
                format: uuid
            contingentBeneficiaryPersonIds:
              type: array
              items:
                type: string
                format: uuid
            designationType:
              type: string
              enum:
                - retirement_account
                - life_insurance
                - superannuation
                - pod_account
                - other
            linkedNonprobateTransferId:
              type: string
              format: uuid
          additionalProperties: false
        digitalAccessConsent:
          type: object
          $comment: RUFADAA (Revised Uniform Fiduciary Access to Digital Assets Act) — adopted by ~47 US states. Controls whether fiduciaries can access digital assets.
          properties:
            consentGiven:
              type: boolean
            scope:
              type: string
              enum:
                - full_access
                - limited_access
                - no_access
            designatedRecipientPersonId:
              type: string
              format: uuid
            onlineToolDirective:
              type: boolean
              $comment: Whether the user set access directives via the platform's own tool (takes priority under RUFADAA).
          additionalProperties: false
        passesOutsideEstate:
          type: boolean
          $comment: True if this asset passes outside probate (beneficiary designation, POD, TOD). NOT distributed under the will.
        notes:
          type: string
      required:
        - id
        - name
        - category
      patternProperties:
        ^x-inherit-: {}
      unevaluatedProperties: false
    liability:
      $schema: https://openinherit.org/v1/dialect.json
      $id: https://openinherit.org/v1/liability.json
      title: Liability
      description: A debt or financial obligation. Includes mortgages, loans, credit cards, and cultural obligations (mahr, ketubah debt, lobola) that are priority debts in certain jurisdictions.
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
            - mortgage
            - personal_loan
            - credit_card
            - overdraft
            - student_loan
            - car_finance
            - hire_purchase
            - mahr
            - ketubah_debt
            - lobola
            - tax_liability
            - funeral_costs
            - care_fees
            - mezonot
            - other
          $comment: mahr = Islamic deferred bridal gift (priority debt). ketubah_debt = Jewish marriage contract obligation. lobola = African customary bride price. mezonot = Jewish widow's maintenance obligation.
        creditor:
          type: string
          description: Name of the creditor or institution
        amount:
          $ref: '#/components/schemas/money'
          description: Outstanding balance
        securedAgainst:
          type: string
          format: uuid
          description: Reference to a Property.id or Asset.id this liability is secured against
        monthlyPayment:
          $ref: '#/components/schemas/money'
        interestRate:
          type: number
          minimum: 0
          description: Annual interest rate as percentage (e.g. 4.5 = 4.5%)
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        accountReference:
          type: string
          description: Account or reference number
        notes:
          type: string
      required:
        - id
        - type
        - amount
      patternProperties:
        ^x-inherit-: {}
      unevaluatedProperties: false
    BeneficiaryOrganisation:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          enum:
            - charity
            - company
            - unincorporated_association
            - trust
            - other
        registrationNumber:
          type: string
        jurisdiction:
          $ref: '#/components/schemas/jurisdiction'
      required:
        - name
        - type
      additionalProperties: false
    LifeInterest:
      type: object
      properties:
        tenantForLifeId:
          type: string
          format: uuid
        remaindermanId:
          type: string
          format: uuid
        remaindermanClassDefinition:
          type: string
        interestType:
          type: string
          enum:
            - use_and_income
            - income_only
            - use_only
            - protective
            - right_of_residence
      required:
        - tenantForLifeId
        - interestType
      additionalProperties: false
    Substitution:
      type: object
      properties:
        beneficiaryId:
          type: string
          format: uuid
        classDefinition:
          type: string
        beneficiaryOrganisation:
          $ref: '#/components/schemas/BeneficiaryOrganisation'
        condition:
          type: string
        perStirpes:
          type: boolean
      additionalProperties: false
    PostDeathAction:
      type: object
      properties:
        type:
          type: string
          enum:
            - disclaimer
            - deed_of_variation
            - appropriation
            - assent
        date:
          type: string
          format: date
        description:
          type: string
        documentId:
          type: string
          format: uuid
      required:
        - type
      additionalProperties: false
    InheritanceResponse:
      type: object
      properties:
        response:
          type: string
          enum:
            - accepted
            - renounced
            - qualified_acceptance
            - pending
        responseDate:
          type: string
          format: date
        responsePersonId:
          type: string
          format: uuid
        courtFiled:
          type: boolean
        deadlineDate:
          type: string
          format: date
      required:
        - response
      additionalProperties: false
    bequest:
      $schema: https://openinherit.org/v1/dialect.json
      $id: https://openinherit.org/v1/bequest.json
      title: Bequest
      description: A disposition of property or money in a will. Supports 7 core types (specific, pecuniary, demonstrative, general, residuary, life_interest, class) and extension types via extensionType (e.g. wasiyya, halachic_matanah).
      type: object
      $defs:
        BeneficiaryOrganisation:
          type: object
          properties:
            name:
              type: string
            type:
              type: string
              enum:
                - charity
                - company
                - unincorporated_association
                - trust
                - other
            registrationNumber:
              type: string
            jurisdiction:
              $ref: '#/components/schemas/jurisdiction'
          required:
            - name
            - type
          additionalProperties: false
        LifeInterest:
          type: object
          properties:
            tenantForLifeId:
              type: string
              format: uuid
            remaindermanId:
              type: string
              format: uuid
            remaindermanClassDefinition:
              type: string
            interestType:
              type: string
              enum:
                - use_and_income
                - income_only
                - use_only
                - protective
                - right_of_residence
          required:
            - tenantForLifeId
            - interestType
          additionalProperties: false
        Substitution:
          type: object
          properties:
            beneficiaryId:
              type: string
              format: uuid
            classDefinition:
              type: string
            beneficiaryOrganisation:
              $ref: '#/components/schemas/BeneficiaryOrganisation'
            condition:
              type: string
            perStirpes:
              type: boolean
          additionalProperties: false
        PostDeathAction:
          type: object
          properties:
            type:
              type: string
              enum:
                - disclaimer
                - deed_of_variation
                - appropriation
                - assent
            date:
              type: string
              format: date
            description:
              type: string
            documentId:
              type: string
              format: uuid
          required:
            - type
          additionalProperties: false
        InheritanceResponse:
          type: object
          properties:
            response:
              type: string
              enum:
                - accepted
                - renounced
                - qualified_acceptance
                - pending
            responseDate:
              type: string
              format: date
            responsePersonId:
              type: string
              format: uuid
            courtFiled:
              type: boolean
            deadlineDate:
              type: string
              format: date
          required:
            - response
          additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
            - specific
            - pecuniary
            - demonstrative
            - general
            - residuary
            - life_interest
            - class
        extensionType:
          type: string
          $comment: Non-core bequest types (e.g. wasiyya, halachic_matanah). When set, extension schemas handle validation.
        beneficiaryId:
          type: string
          format: uuid
        beneficiaryOrganisation:
          $ref: '#/components/schemas/BeneficiaryOrganisation'
        classDefinition:
          type: string
          $comment: Natural-language description of the class of beneficiaries (e.g. 'All my grandchildren living at my death').
        lifeInterest:
          $ref: '#/components/schemas/LifeInterest'
        amount:
          $ref: '#/components/schemas/money'
        sharePercentage:
          type: number
          minimum: 0
          maximum: 100
        description:
          type: string
        sourceAssetId:
          type: string
          format: uuid
          $comment: For demonstrative bequests — the asset from which the amount should be paid.
        conditions:
          type: array
          items:
            type: string
          $comment: Conditions that must be met before the bequest takes effect.
        substitutions:
          type: array
          items:
            $ref: '#/components/schemas/Substitution'
        hotchpot:
          type: boolean
          $comment: Whether lifetime gifts to the beneficiary should be brought into account when calculating their share.
        distributionMethod:
          type: string
          enum:
            - per_capita
            - per_stirpes
            - modified_per_stirpes
            - per_capita_at_each_generation
            - halachic_yerusha
        predeceaseRule:
          type: string
          enum:
            - lapse
            - per_stirpes
            - substitution
            - accrual
            - statutory_default
          $comment: What happens if the beneficiary predeceases the testator. lapse = gift fails. per_stirpes = passes to beneficiary's issue. substitution = passes to named substitute. accrual = redistributed among surviving co-beneficiaries. statutory_default = jurisdiction's default rule applies.
        constrainedBy:
          type: string
          enum:
            - testamentary_freedom
            - customary_rule
            - forced_heirship
            - religious_rule
            - coparcenary_survivorship
        customaryOverride:
          type: boolean
          $comment: Whether customary/religious law overrides testamentary freedom for this bequest.
        postDeathActions:
          type: array
          items:
            $ref: '#/components/schemas/PostDeathAction'
        inheritanceResponse:
          $ref: '#/components/schemas/InheritanceResponse'
        notes:
          type: string
      required:
        - id
        - type
      allOf:
        - $comment: Core types (specific, pecuniary, demonstrative, general, residuary) require beneficiaryId OR beneficiaryOrganisation. When extensionType is set, extension schema handles validation.
          if:
            properties:
              type:
                enum:
                  - specific
                  - pecuniary
                  - demonstrative
                  - general
                  - residuary
            required:
              - type
            not:
              required:
                - extensionType
          then:
            anyOf:
              - required:
                  - beneficiaryId
              - required:
                  - beneficiaryOrganisation
        - $comment: Class bequests require classDefinition.
          if:
            properties:
              type:
                const: class
            required:
              - type
          then:
            required:
              - classDefinition
        - $comment: Life interest bequests require lifeInterest object.
          if:
            properties:
              type:
                const: life_interest
            required:
              - type
          then:
            required:
              - lifeInterest
      patternProperties:
        ^x-inherit-: {}
      unevaluatedProperties: false
    TrustAppointee:
      type: object
      properties:
        personId:
          type: string
          format: uuid
        role:
          type: string
          enum:
            - trustee
            - protector
            - enforcer
      required:
        - personId
        - role
      additionalProperties: false
    TrustBeneficiary:
      type: object
      properties:
        personId:
          type: string
          format: uuid
        classDefinition:
          type: string
        organisationName:
          type: string
        interestType:
          type: string
          enum:
            - income
            - capital
            - both
            - discretionary
      required:
        - interestType
      additionalProperties: false
    trust:
      $schema: https://openinherit.org/v1/dialect.json
      $id: https://openinherit.org/v1/trust.json
      title: Trust
      description: A trust instrument — testamentary or inter vivos. Covers discretionary, bare, life interest, charitable, nil rate band, waqf (Islamic endowment), and offshore structures with governance features (reserved powers, flee clauses, protector powers).
      type: object
      $defs:
        TrustAppointee:
          type: object
          properties:
            personId:
              type: string
              format: uuid
            role:
              type: string
              enum:
                - trustee
                - protector
                - enforcer
          required:
            - personId
            - role
          additionalProperties: false
        TrustBeneficiary:
          type: object
          properties:
            personId:
              type: string
              format: uuid
            classDefinition:
              type: string
            organisationName:
              type: string
            interestType:
              type: string
              enum:
                - income
                - capital
                - both
                - discretionary
          required:
            - interestType
          additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
          enum:
            - discretionary
            - life_interest
            - bare
            - accumulation_and_maintenance
            - disabled_persons
            - charitable
            - nil_rate_band
            - waqf
            - other
        trustees:
          type: array
          items:
            $ref: '#/components/schemas/TrustAppointee'
          minItems: 1
        beneficiaries:
          type: array
          items:
            $ref: '#/components/schemas/TrustBeneficiary'
          minItems: 1
        settlor:
          type: string
          format: uuid
        isTestamentary:
          type: boolean
        createdDate:
          type: string
          format: date
        creationType:
          type: string
          enum:
            - testamentary
            - inter_vivos_revocable
            - inter_vivos_irrevocable
        revocability:
          type: string
          enum:
            - revocable
            - irrevocable
            - perpetual
          $comment: Distinct from creationType. A trust created as inter_vivos_revocable may become irrevocable on the settlor's death. perpetual = waqf and certain Cayman STAR trusts.
        perpetual:
          type: boolean
          $comment: True for waqf and certain offshore perpetual trusts.
        vestingAge:
          type: integer
          minimum: 0
        vestingDate:
          type: string
          format: date
        vestingConditions:
          type: array
          items:
            type: string
        contingentInterests:
          type: array
          items:
            type: string
        trustPeriod:
          type: string
        governingLaw:
          $ref: '#/components/schemas/jurisdiction'
        reservedPowers:
          type: array
          $comment: Powers retained by the settlor or granted to a third party. Common in BVI VISTA trusts, Jersey trusts, and Cayman STAR trusts.
          items:
            type: object
            properties:
              powerType:
                type: string
                enum:
                  - investment
                  - distribution
                  - amendment
                  - revocation
                  - addition_of_beneficiaries
                  - removal_of_trustees
                  - change_of_governing_law
              heldByPersonId:
                type: string
                format: uuid
              conditions:
                type: string
            required:
              - powerType
            additionalProperties: false
        fleeClause:
          type: object
          $comment: Clause allowing automatic change of trust situs if triggering events occur (e.g., change of law, political instability). Standard in offshore trusts.
          properties:
            present:
              type: boolean
            triggerEvents:
              type: array
              items:
                type: string
            destinationJurisdiction:
              $ref: '#/components/schemas/jurisdiction'
            automaticOrDiscretionary:
              type: string
              enum:
                - automatic
                - discretionary
          additionalProperties: false
        protectorPowers:
          type: array
          $comment: Specific powers held by the trust protector. Cayman STAR trusts REQUIRE an enforcer. Jersey/Guernsey trusts commonly have protectors.
          items:
            type: object
            properties:
              powerType:
                type: string
                enum:
                  - consent_to_distribution
                  - remove_trustee
                  - appoint_trustee
                  - change_governing_law
                  - veto_investment
                  - add_beneficiary
                  - exclude_beneficiary
                  - enforce_purpose
              protectorPersonId:
                type: string
                format: uuid
              exerciseConditions:
                type: string
            required:
              - powerType
              - protectorPersonId
            additionalProperties: false
        jurisdictionalRecognition:
          type: array
          $comment: How different jurisdictions recognise this trust. Critical for offshore trusts used by HK/Singapore/Geneva clients.
          items:
            type: object
            properties:
              jurisdiction:
                $ref: '#/components/schemas/jurisdiction'
              recognised:
                type: boolean
              recognisedAs:
                type: string
                $comment: e.g., 'transparent for tax' or 'opaque entity'
              hagueTrustConventionApplies:
                type: boolean
                $comment: Switzerland ratified; France did not.
              notes:
                type: string
            required:
              - jurisdiction
              - recognised
            additionalProperties: false
        assetProtectionFeatures:
          type: object
          $comment: For Cook Islands, Nevis, BVI, and domestic US asset protection trusts.
          properties:
            selfSettled:
              type: boolean
              $comment: True if the settlor is also a beneficiary. Affects creditor claims.
            spendthriftClause:
              type: boolean
            fraudulentTransferLookback:
              type: string
              $comment: Lookback period for fraudulent transfer claims (e.g., '2 years' for Cook Islands, '6 years' for BVI).
            domesticationDate:
              type: string
              format: date
              $comment: If an offshore trust was domesticated (moved onshore).
          additionalProperties: false
        notes:
          type: string
      required:
        - id
        - name
        - type
        - trustees
        - beneficiaries
      patternProperties:
        ^x-inherit-: {}
      unevaluatedProperties: false
    executor:
      $schema: https://openinherit.org/v1/dialect.json
      $id: https://openinherit.org/v1/executor.json
      title: Executor
      description: A person appointed to administer an estate. Includes professional executors, administrators (intestacy), and administrators with will annexed.
      type: object
      properties:
        id:
          type: string
          format: uuid
        personId:
          type: string
          format: uuid
          description: Reference to a Person.id
        role:
          type: string
          enum:
            - primary
            - secondary
            - substitute
            - administrator
            - administrator_with_will_annexed
        isProfessional:
          type: boolean
        firmName:
          type: string
          description: Firm name if the executor is a professional (solicitor, accountant, trust corporation)
        grantType:
          type: string
          enum:
            - grant_of_probate
            - letters_of_administration
            - letters_of_administration_with_will_annexed
            - resealing
            - european_certificate_of_succession
          $comment: Without a grant, the executor has no legal authority to administer the estate.
        grantDate:
          type: string
          format: date
        grantReference:
          type: string
        issuingCourt:
          type: string
        notes:
          type: string
      required:
        - id
        - personId
        - role
      patternProperties:
        ^x-inherit-: {}
      unevaluatedProperties: false
    guardian:
      $schema: https://openinherit.org/v1/dialect.json
      $id: https://openinherit.org/v1/guardian.json
      title: Guardian
      description: A guardian appointment for a minor child. Supports testamentary, court-appointed, shariah court, community-appointed, and religious court appointments. Guardianship structures include individual, collective, rotating, and family council determined.
      type: object
      properties:
        id:
          type: string
          format: uuid
        guardianPersonId:
          type: string
          format: uuid
          description: Reference to the guardian Person.id
        childPersonId:
          type: string
          format: uuid
          description: Reference to the child Person.id
        role:
          type: string
          enum:
            - primary
            - secondary
            - substitute
        appointmentType:
          type: string
          enum:
            - testamentary
            - parental_responsibility
            - court_appointed
            - shariah_court_appointed
            - community_appointed
            - religious_court_appointed
        guardianshipStructure:
          type: string
          enum:
            - individual
            - collective
            - rotating
            - family_council_determined
        familyCouncilDecisionRef:
          type: string
          $comment: Reference to a family council decision document or record.
        conditions:
          type: string
        notes:
          type: string
      required:
        - id
        - guardianPersonId
        - childPersonId
        - role
        - appointmentType
      patternProperties:
        ^x-inherit-: {}
      unevaluatedProperties: false
    wish:
      $schema: https://openinherit.org/v1/dialect.json
      $id: https://openinherit.org/v1/wish.json
      title: Wish
      description: A non-binding (or culturally/religiously binding) wish — funeral, letter of wishes, care instructions, pet care, digital estate, distribution preferences.
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
            - funeral
            - letter
            - care
            - distribution
            - digital
[...]
