openapi: 3.1.0
info:
  title: INHERIT — Open Estate Data Interchange Standard
  version: 1.0.0
  description: |
    INHERIT is an open data standard for estate planning information,
    supporting succession law across common law, civil law, Islamic,
    Jewish, Hindu, Japanese, and African customary legal traditions.

    This document serves two purposes:
    1. Schema bundle — all 40 JSON Schemas as OpenAPI components for
       TypeScript type generation, Zod schema generation, and SDK creation
    2. Validation endpoint — a reference endpoint for document validation

    For the full specification, visit https://openinherit.org
  license:
    name: Apache 2.0
    identifier: Apache-2.0
  contact:
    name: OpenInherit
    url: https://openinherit.org
    email: hello@openinherit.org
servers:
  - url: https://api.openinherit.org/v1
    description: Reference validation server
security: []
paths:
  /validate:
    post:
      operationId: validateDocument
      summary: Validate an INHERIT document
      description: |
        Accepts a complete INHERIT document and returns validation results
        at three conformance levels: Schema Valid, Referentially Intact,
        and Jurisdiction Complete.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schema'
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResult'
        '400':
          description: Invalid JSON payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
components:
  schemas:
    InheritDocument:
      description: The top-level INHERIT document envelope
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/schema'
    Estate:
      description: The estate — links all entities together
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/estate'
    Person:
      description: Any person referenced in the estate
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/person'
    Relationship:
      description: Relationship between two people
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/relationship'
    Kinship:
      description: Family group structure
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/kinship'
    Property:
      description: Real property (land, buildings)
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/property'
    Asset:
      description: Non-property assets (bank accounts, investments, etc.)
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/asset'
    Liability:
      description: Debts, mortgages, loans
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/liability'
    Bequest:
      description: A gift in a will
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/bequest'
    Trust:
      description: Trust arrangements
      x-inherit-maturity: draft
      $ref: '#/components/schemas/trust'
    Executor:
      description: Named executor or administrator
      x-inherit-maturity: draft
      $ref: '#/components/schemas/executor'
    Guardian:
      description: Guardian appointment for minor children
      x-inherit-maturity: draft
      $ref: '#/components/schemas/guardian'
    Wish:
      description: Non-binding wishes (funeral, organ donation, etc.)
      x-inherit-maturity: draft
      $ref: '#/components/schemas/wish'
    Document:
      description: Legal documents (wills, codicils, powers of attorney)
      x-inherit-maturity: draft
      $ref: '#/components/schemas/document'
    Attestation:
      description: Witness attestation of a document
      x-inherit-maturity: draft
      $ref: '#/components/schemas/attestation'
    ProxyAuthorisation:
      description: Power of attorney or deputyship
      x-inherit-maturity: draft
      $ref: '#/components/schemas/proxy-authorisation'
    DealerInterest:
      description: Professional interest in the estate
      x-inherit-maturity: draft
      $ref: '#/components/schemas/dealer-interest'
    NonprobateTransfer:
      description: Assets that pass outside the will
      x-inherit-maturity: draft
      $ref: '#/components/schemas/nonprobate-transfer'
    Money:
      description: Monetary amounts (integer pennies + currency)
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/money'
    Address:
      description: Postal addresses
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/address'
    Jurisdiction:
      description: ISO 3166-2 jurisdiction codes
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/jurisdiction'
    Identifier:
      description: External identifiers (NI number, passport, etc.)
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/identifier'
    TemporalRule:
      description: Time-bound legislation rules
      x-inherit-maturity: draft
      $ref: '#/components/schemas/temporal-rule'
    ExtensionUkEnglandWales:
      description: IHT thresholds, intestacy rules, IFPA 1975 for England & Wales
      x-inherit-maturity: draft
      $ref: '#/components/schemas/uk-england-wales'
    ExtensionUsEstate:
      description: US estate planning — community property, elective share, homestead
      x-inherit-maturity: draft
      $ref: '#/components/schemas/us-estate'
    ExtensionCanada:
      description: Canadian provincial succession rules
      x-inherit-maturity: draft
      $ref: '#/components/schemas/canada'
    ExtensionAustraliaNz:
      description: AU/NZ superannuation, family provision, Maori land
      x-inherit-maturity: draft
      $ref: '#/components/schemas/australia-nz'
    ExtensionEuSuccession:
      description: Brussels IV, European Certificate of Succession, forced heirship
      x-inherit-maturity: draft
      $ref: '#/components/schemas/eu-succession'
    ExtensionJapan:
      description: Japanese succession — koseki, iryubun, yōshi, isan bunkatsu
      x-inherit-maturity: draft
      $ref: '#/components/schemas/japan'
    ExtensionPrcChina:
      description: PRC succession — forced heirship, hukou, notarised certificates
      x-inherit-maturity: draft
      $ref: '#/components/schemas/prc-china'
    ExtensionSingaporeMalaysia:
      description: SG/MY — ISA, AMLA, CPF/EPF nominations, Distribution Act
      x-inherit-maturity: draft
      $ref: '#/components/schemas/singapore-malaysia'
    ExtensionLatinAmerica:
      description: Latin American succession — legítima, forced heirship, fourths system
      x-inherit-maturity: draft
      $ref: '#/components/schemas/latin-america'
    ExtensionIslamicSuccession:
      description: Faraid — fixed shares, residuary, awl/radd, wasiyya, waqf
      x-inherit-maturity: draft
      $ref: '#/components/schemas/islamic-succession'
    ExtensionJewishSuccession:
      description: Halachic inheritance — bekhor, mezonot, kinyan
      x-inherit-maturity: draft
      $ref: '#/components/schemas/jewish-succession'
    ExtensionHinduSuccession:
      description: Hindu succession — Mitakshara/Dayabhaga, HUF, stridhan
      x-inherit-maturity: draft
      $ref: '#/components/schemas/hindu-succession'
    ExtensionAfricaCustomary:
      description: Customary succession — patrilineal/matrilineal, family council, lobola
      x-inherit-maturity: draft
      $ref: '#/components/schemas/africa-customary'
    ValidationResult:
      type: object
      required:
        - valid
        - conformanceLevel
        - errors
      properties:
        valid:
          type: boolean
        conformanceLevel:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
          description: |
            0 = Invalid, 1 = Schema Valid, 2 = Referentially Intact,
            3 = Jurisdiction Complete
        errors:
          type: array
          items:
            type: object
            required:
              - path
              - message
              - level
            properties:
              path:
                type: string
              message:
                type: string
              level:
                type: string
                enum:
                  - error
                  - warning
                  - info
    attestation:
      $schema: https://openinherit.org/v1/dialect.json
      $id: https://openinherit.org/v1/attestation.json
      title: Attestation
      description: Will execution formalities. Standalone — reused by estate, codicils, trusts, extensions. Supports written (E&W Wills Act s.9), oral (Islamic/customary), seal-based (Japanese inkan), kinyan-based (Jewish).
      type: object
      properties:
        date:
          type: string
          format: date
          description: Date the will or document was executed (signed and witnessed).
          examples:
            - '2024-06-15'
            - '2025-01-20'
        witnessPersonIds:
          type: array
          items:
            type: string
            format: uuid
          description: Person IDs of the witnesses. Most jurisdictions require at least two witnesses. Some (e.g. holographic wills) require none.
        method:
          type: string
          enum:
            - in_person
            - video
            - remote
            - none
            - kinyan_sudar
            - kinyan_agav
            - seal_based
            - inkan_registered
          $comment: 'in_person: traditional in-person execution and witnessing. video: execution witnessed via video link (permitted during COVID in some jurisdictions, now permanent in some). remote: remote execution via electronic means. none: no formal execution method (e.g. nuncupative/oral wills). kinyan_sudar: a legally valid attestation method in jurisdictions that recognise halachic legal instruments — Jewish acquisition by symbolic exchange of a cloth, used to formalise wills in batei din (Israel: binding; UK/US: recognised as contractual formality in secular courts). kinyan_agav: a legally valid attestation method under halachic law — Jewish acquisition ''on the back of'' land transfer, ancillary to a property transaction. seal_based: a legally valid attestation method in East Asian jurisdictions — sealed with a personal seal, carrying legal force equivalent to a signature in China, Korea, and Japan. inkan_registered: a legally valid attestation method under Japanese Civil Code Art. 969 — Japanese registered seal (jitsuin) verified against a seal registration certificate (inkan toroku shomeisho) issued by the municipal government. Required for notarised wills (kōsei shōsho igon) in Japan.'
          description: The method by which the will or document was executed.
          examples:
            - in_person
            - video
            - inkan_registered
        attestationType:
          type: string
          enum:
            - written_signed
            - oral_witnessed
            - oral_community
            - seal_based
          $comment: 'written_signed: traditional written will signed by the testator. oral_witnessed: oral (nuncupative) will witnessed by the required number of witnesses — valid in Islamic law and some customary systems. oral_community: oral will witnessed by the community — common in African customary law. seal_based: will authenticated by personal seal rather than signature — Japanese, Korean, and historical Chinese practice.'
          description: The form of attestation used.
          examples:
            - written_signed
            - oral_witnessed
        solicitorSupervised:
          type: boolean
          description: Whether a solicitor or legal professional supervised the execution. Reduces (but does not eliminate) the risk of challenges.
          examples:
            - true
            - false
        testatorSignedInPresenceOfWitnesses:
          type: boolean
          $comment: Wills Act 1837 s.9(c).
          description: Whether the testator signed (or acknowledged their signature) in the presence of both witnesses simultaneously. Required under the Wills Act 1837 s.9(c).
          examples:
            - true
        witnessesSignedInPresenceOfTestator:
          type: boolean
          $comment: Wills Act 1837 s.9(d).
          description: Whether each witness signed in the presence of the testator. Required under the Wills Act 1837 s.9(d).
          examples:
            - true
        witnessConflictCheck:
          type: boolean
          description: Whether a conflict check was performed to ensure no witness is a beneficiary. Under English law, a beneficiary-witness loses their gift (Wills Act 1837 s.15).
          examples:
            - true
        witnessConflictCheckScope:
          type: string
          enum:
            - english_law
            - halachic_broad
            - shariah_standard
            - civil_law_standard
            - customary_oral
            - community_testimony
          $comment: 'english_law: check under English Wills Act 1837 s.15 — beneficiary-witness forfeits gift. halachic_broad: broader Jewish law disqualifications — relatives, women (Orthodox), Sabbath violators, minors. shariah_standard: Islamic witness requirements — typically two male Muslims (or one male and two females). civil_law_standard: civil law notarised will witness requirements. customary_oral: oral will witness requirements under customary law. community_testimony: community-based attestation where formal witness rules do not apply.'
          description: The legal standard applied when checking for witness conflicts.
          examples:
            - english_law
            - shariah_standard
        notes:
          type: string
          description: Additional notes on attestation — unusual circumstances, concerns about formalities, or cultural context.
          examples:
            - Testator unable to sign — made a mark in the presence of witnesses and a solicitor
            - Inkan verified against Shinjuku Ward seal registration
      patternProperties:
        ^x-inherit-: {}
      unevaluatedProperties: false
    jurisdiction:
      $schema: https://openinherit.org/v1/dialect.json
      $id: https://openinherit.org/v1/common/jurisdiction.json
      title: Jurisdiction
      description: A legal jurisdiction identified by ISO 3166 codes. Succession law varies not just by country but by subdivision — Scotland differs from England and Wales, and US states have radically different rules.
      type: object
      properties:
        country:
          type: string
          pattern: ^[A-Z]{2}$
          description: ISO 3166-1 alpha-2 country code. Always uppercase, exactly two letters.
          examples:
            - GB
            - US
            - JP
            - IN
            - NG
            - AE
            - SG
            - AU
        subdivision:
          type: string
          pattern: ^[A-Z]{2}-[A-Z0-9]{1,6}$
          $comment: ISO 3166-2. Most codes 2-3 chars; some historic codes longer.
          description: ISO 3166-2 subdivision code identifying a state, province, or territory with its own succession law.
          examples:
            - GB-SCT
            - GB-ENG
            - US-CA
            - US-TX
            - AU-NSW
            - IN-MH
            - NG-LA
        legalSystem:
          type: string
          enum:
            - common_law
            - civil_law
            - mixed
            - religious
            - customary
            - religious_islamic
            - religious_jewish
            - religious_hindu
            - religious_canon
            - plural
          $comment: 'common_law: judge-made precedent (England and Wales, most US states, Australia). civil_law: codified statute (France, Germany, Japan, most of continental Europe). mixed: hybrid of common and civil law (Scotland, South Africa, Louisiana). religious: governed by religious law (not further specified). customary: indigenous or tribal customary law. religious_islamic: Islamic Shariah succession rules (faraid). religious_jewish: Jewish halachic succession law. religious_hindu: Hindu succession law (HSA 1956 in India). religious_canon: Canon law of the Catholic or Orthodox Church. plural: multiple legal systems operating in parallel (Malaysia, Pakistan, Israel, Nigeria).'
          description: The legal tradition governing succession in this jurisdiction. Determines which rules apply to inheritance, forced heirship, and estate administration.
          examples:
            - common_law
            - civil_law
            - plural
        name:
          type: string
          description: Human-readable jurisdiction name for display purposes. Not authoritative — the country and subdivision codes are the canonical identifiers.
          examples:
            - Scotland
            - California
            - New South Wales
            - Maharashtra
            - Lagos
      required:
        - country
      additionalProperties: false
    money:
      $schema: https://openinherit.org/v1/dialect.json
      $id: https://openinherit.org/v1/common/money.json
      $comment: 'Consumers must look up the ISO 4217 exponent for the currency code. JPY/KRW: exponent 0 (amount IS face value). KWD/BHD/OMR: exponent 3. Most currencies: exponent 2.'
      title: Money
      description: Monetary value in integer minor currency units with ISO 4217 code. Never floating point.
      type: object
      properties:
        amount:
          type: integer
          description: Value in the smallest currency unit (pence, cents, sen). The consumer must apply the ISO 4217 exponent to convert to a display value.
          examples:
            - 32500
            - 1000000
            - 500000
            - 0
        currency:
          type: string
          pattern: ^[A-Z]{3}$
          description: ISO 4217 three-letter currency code. Use the code for the currency of the amount, not the reporting currency.
          examples:
            - GBP
            - USD
            - EUR
            - JPY
            - INR
            - AED
            - SGD
      required:
        - amount
        - currency
      additionalProperties: false
    TestamentaryCapacity:
      type: object
      description: Record of testamentary capacity assessment. The testator must understand the nature of making a will, the extent of their estate, and the claims of those they are excluding.
      properties:
        assessed:
          type: boolean
          description: Whether a capacity assessment was carried out.
          examples:
            - true
        assessmentDate:
          type: string
          format: date
          description: Date the capacity assessment took place.
          examples:
            - '2024-03-10'
        assessorName:
          type: string
          description: Name of the person who assessed capacity.
          examples:
            - Dr Sarah Patel
            - Dr Kenji Watanabe
            - Dr Aisha Ibrahim
            - Dr Tendai Moyo
        assessorRole:
          type: string
          description: Professional role of the assessor — typically a GP, psychiatrist, or solicitor.
          examples:
            - General Practitioner
            - Consultant Psychiatrist
            - Solicitor
        capacityConfirmed:
          type: boolean
          description: Whether the assessor confirmed the testator has testamentary capacity.
          examples:
            - true
        goldenRuleComplied:
          type: boolean
          $comment: The 'golden rule' (Kenward v Adams [1975]) — elderly/seriously ill testators should have a medical practitioner assess capacity.
          description: Whether the 'golden rule' was followed — a medical practitioner assessing capacity for elderly or seriously ill testators.
        notes:
          type: string
          description: Additional notes on the capacity assessment.
          examples:
            - Testator showed clear understanding of estate and family circumstances
      additionalProperties: false
    Codicil:
      type: object
      description: An amendment to an existing will. Codicils must be executed with the same formalities as the will itself.
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for this codicil.
          examples:
            - a1b2c3d4-e5f6-7890-abcd-ef1234567890
        date:
          type: string
          format: date
          description: Date the codicil was executed.
          examples:
            - '2024-06-15'
        description:
          type: string
          description: Summary of what this codicil changes in the original will.
          examples:
            - Replaces executor appointment — substitutes daughter for brother-in-law
        attestation:
          $ref: '#/components/schemas/attestation'
          description: Execution formalities for this codicil.
        documentId:
          type: string
          format: uuid
          description: Reference to the Document entity storing the codicil text.
      required:
        - id
        - date
      additionalProperties: false
    ForcedHeirship:
      type: object
      description: Forced heirship regime details. Many civil law jurisdictions reserve a portion of the estate for certain heirs regardless of the will.
      properties:
        applies:
          type: boolean
          description: Whether forced heirship rules apply to this estate.
          examples:
            - true
        reservedPortion:
          type: number
          minimum: 0
          maximum: 100
          description: Percentage of the estate reserved for protected heirs. In France, this is 50% for one child, 66.67% for two, 75% for three or more.
          examples:
            - 50
            - 66.67
            - 75
        disposableQuota:
          type: number
          minimum: 0
          maximum: 100
          description: Percentage of the estate the testator may freely dispose of by will.
          examples:
            - 50
            - 33.33
            - 25
        jurisdiction:
          $ref: '#/components/schemas/jurisdiction'
          description: The jurisdiction whose forced heirship rules apply.
        claimNature:
          type: string
          enum:
            - property_share
            - cash_claim
            - usufruct
            - court_discretion
          $comment: 'property_share: heir receives a share of the actual estate property (France, Germany). cash_claim: heir has a monetary claim against the estate but not a property right (Switzerland post-2023, Japan). usufruct: heir receives a right of use/enjoyment, not ownership (some Spanish regions). court_discretion: court decides the form of provision (England and Wales — Inheritance Act 1975).'
          description: The legal nature of the forced heir's claim — whether they receive property, cash, or a court-determined provision.
          examples:
            - property_share
            - cash_claim
        calculationBasis:
          type: string
          enum:
            - fixed
            - per_child_sliding
            - court_discretion
            - conditional
          $comment: 'fixed: a set percentage regardless of family size (Japan: 50% of intestate share). per_child_sliding: varies by number of children (France). court_discretion: no fixed formula — court determines reasonable provision (England and Wales). conditional: depends on specific conditions being met.'
          description: How the reserved portion is calculated.
          examples:
            - fixed
            - per_child_sliding
        applicableTo:
          type: string
          enum:
            - children_only
            - children_and_spouse
            - all_descendants
            - all_heirs
          $comment: 'children_only: only direct children are protected heirs. children_and_spouse: surviving spouse and children are protected. all_descendants: includes grandchildren and further issue. all_heirs: all persons in the intestacy hierarchy (rare).'
          description: Which categories of heir are protected by forced heirship.
          examples:
            - children_and_spouse
        deferralRule:
          type: string
          description: Rule for deferring forced heirship claims — e.g. life interest to surviving spouse with remainder to children.
          examples:
            - Surviving spouse receives usufruct; children receive bare ownership
        effectiveDate:
          type: string
          format: date
          $comment: 'When these forced heirship rules took effect. Swiss 2023 reform: 2023-01-01.'
          description: Date when the applicable forced heirship rules came into force. Important for reform transitions.
          examples:
            - '2023-01-01'
            - '2006-07-01'
        reformVersion:
          type: string
          $comment: e.g., 'Swiss Code 2023 revision', 'French loi 2006-728'.
          description: The specific legislative reform establishing these rules.
          examples:
            - Swiss Code 2023 revision
            - French loi 2006-728
        notes:
          type: string
          description: Additional notes on forced heirship — exceptions, pending challenges, or reform context.
          examples:
            - Swiss 2023 reform reduced children's reserved portion from 75% to 50%
      additionalProperties: false
    AdjudicatingBody:
      type: object
      description: A court or authority with jurisdiction over this estate or part of it. Plural legal systems may have multiple adjudicating bodies for the same estate.
      properties:
        type:
          type: string
          enum:
            - secular_court
            - religious_court
            - beth_din
            - shariah_court
            - tribal_court
            - family_court
            - family_council
            - community_elders
            - partition_meeting
            - karta_decision
            - maori_land_court
            - high_court
          $comment: 'secular_court: state civil or probate court. religious_court: a religious tribunal (unspecified denomination). beth_din: Jewish rabbinical court. shariah_court: Islamic law court. tribal_court: indigenous/tribal judicial body. family_court: state family division. family_council: collective family decision-making body (West African, Pacific Island). community_elders: informal elder-led adjudication. partition_meeting: Hindu joint family partition proceedings. karta_decision: decision by the karta (manager) of a Hindu Undivided Family. maori_land_court: New Zealand court for Maori land succession. high_court: national or state high court (typically for contested probate).'
          description: The type of adjudicating body.
        name:
          type: string
          description: Name of the specific court or body.
          examples:
            - Principal Registry of the Family Division
            - Lagos High Court
            - Beth Din of Manchester
        jurisdiction:
          $ref: '#/components/schemas/jurisdiction'
          description: Jurisdiction this adjudicating body operates in.
        caseReference:
          type: string
          description: Case or filing reference number.
          examples:
            - PR-2025-001234
            - SH/2025/0456
        authoritative:
          type: boolean
          description: Whether this body's decisions are binding. A beth din ruling may be persuasive but not enforceable without secular court recognition.
          examples:
            - true
            - false
      required:
        - type
      additionalProperties: false
    ParallelDistribution:
      type: object
      description: A parallel distribution scheme operating alongside the primary estate distribution. Common in plural legal systems where statutory and customary/religious distributions run concurrently.
      properties:
        system:
          type: string
          description: The legal system governing this parallel distribution.
          examples:
            - Igbo customary law
            - Islamic faraid
            - Hindu Mitakshara
        jurisdiction:
          $ref: '#/components/schemas/jurisdiction'
          description: Jurisdiction where this parallel distribution applies.
        description:
          type: string
          description: Summary of how this system distributes the estate.
          examples:
            - Family compound passes to eldest son as custodian under Igbo customary law
        notes:
          type: string
          description: Additional context or conflict notes.
          examples:
            - Customary distribution of family land conflicts with testamentary gift to daughter
      required:
        - system
      additionalProperties: false
    ProbateGrant:
      type: object
      description: A grant of probate or letters of administration issued by a court. Without a grant, executors have no legal authority to administer the estate.
      properties:
        grantType:
          type: string
          description: The type of grant issued.
          examples:
            - Grant of Probate
            - Letters of Administration
            - Letters of Administration with Will Annexed
            - European Certificate of Succession
        grantDate:
          type: string
          format: date
          description: Date the grant was issued by the court.
          examples:
            - '2025-06-15'
        grantReference:
          type: string
          description: Court reference number for the grant.
          examples:
            - PRO-2025-123456
        issuingCourt:
          type: string
          description: Name of the court or registry that issued the grant.
          examples:
            - Principal Registry of the Family Division
            - Birmingham District Probate Registry
            - Supreme Court of New South Wales
        jurisdiction:
          $ref: '#/components/schemas/jurisdiction'
          description: Jurisdiction that issued this grant.
        notes:
          type: string
          description: Additional notes about the grant.
          examples:
            - Limited grant — foreign property excluded
      additionalProperties: false
    DeathRecord:
      type: object
      description: Details of the testator's death. Establishes the date from which succession takes effect and the domicile at death (which determines governing law for moveables).
      properties:
        dateOfDeath:
          type: string
          format: date
          description: Date of death in ISO 8601 format.
          examples:
            - '2025-09-30'
        placeOfDeath:
          type: string
          description: Place where death occurred.
          examples:
            - Manchester Royal Infirmary
            - At home, 42 Acacia Avenue, London
            - Tokyo Metropolitan Hospital
        deathCertificateRef:
          type: string
          description: Death certificate reference number.
          examples:
            - DC-2025-123456
        domicileAtDeath:
          $ref: '#/components/schemas/jurisdiction'
          description: The testator's domicile at the time of death. This determines which succession law governs moveable property.
        notes:
          type: string
          description: Additional notes about the death record.
          examples:
            - Death registered in two jurisdictions — UK and France
      additionalProperties: false
    SuccessionConflict:
      type: object
      description: A conflict between legal systems regarding succession for this estate. Common in plural jurisdictions and cross-border estates.
      properties:
        description:
          type: string
          description: Summary of the conflict between legal systems.
          examples:
            - Statutory will gives daughter the house; Igbo customary law gives eldest son custodianship
            - French forced heirship claim conflicts with English testamentary freedom
        systems:
          type: array
          items:
            type: string
          description: The legal systems in conflict.
          examples:
            - - statutory
              - Igbo customary
            - - French civil law
              - English common law
        resolutionStatus:
          type: string
          enum:
            - unresolved
            - resolved
            - pending_court
            - pending_arbitration
          $comment: 'unresolved: no resolution attempt yet. resolved: conflict has been settled. pending_court: matter referred to a court. pending_arbitration: matter referred to arbitration or mediation.'
          description: Current status of this conflict.
        notes:
          type: string
          description: Additional context or resolution details.
          examples:
            - Family council meeting scheduled for December 2025
      required:
        - description
      additionalProperties: false
    estate:
      $schema: https://openinherit.org/v1/dialect.json
      $id: https://openinherit.org/v1/estate.json
      title: Estate
      description: The root estate record — will, intestacy, or trust-based succession plan. Contains testator details, jurisdiction, will formalities, forced heirship, probate grants, death record, multi-jurisdiction administration, and tax treaty positions.
      type: object
      $defs:
        Codicil:
          type: object
          description: An amendment to an existing will. Codicils must be executed with the same formalities as the will itself.
          properties:
            id:
              type: string
              format: uuid
              description: Unique identifier for this codicil.
              examples:
                - a1b2c3d4-e5f6-7890-abcd-ef1234567890
            date:
              type: string
              format: date
              description: Date the codicil was executed.
              examples:
                - '2024-06-15'
            description:
              type: string
              description: Summary of what this codicil changes in the original will.
              examples:
                - Replaces executor appointment — substitutes daughter for brother-in-law
            attestation:
              $ref: '#/components/schemas/attestation'
              description: Execution formalities for this codicil.
            documentId:
              type: string
              format: uuid
              description: Reference to the Document entity storing the codicil text.
          required:
            - id
            - date
          additionalProperties: false
        TestamentaryCapacity:
          type: object
          description: Record of testamentary capacity assessment. The testator must understand the nature of making a will, the extent of their estate, and the claims of those they are excluding.
          properties:
            assessed:
              type: boolean
              description: Whether a capacity assessment was carried out.
              examples:
                - true
            assessmentDate:
              type: string
              format: date
              description: Date the capacity assessment took place.
              examples:
                - '2024-03-10'
            assessorName:
              type: string
              description: Name of the person who assessed capacity.
              examples:
                - Dr Sarah Patel
                - Dr Kenji Watanabe
                - Dr Aisha Ibrahim
                - Dr Tendai Moyo
            assessorRole:
              type: string
              description: Professional role of the assessor — typically a GP, psychiatrist, or solicitor.
              examples:
                - General Practitioner
                - Consultant Psychiatrist
                - Solicitor
            capacityConfirmed:
              type: boolean
              description: Whether the assessor confirmed the testator has testamentary capacity.
              examples:
                - true
            goldenRuleComplied:
              type: boolean
              $comment: The 'golden rule' (Kenward v Adams [1975]) — elderly/seriously ill testators should have a medical practitioner assess capacity.
              description: Whether the 'golden rule' was followed — a medical practitioner assessing capacity for elderly or seriously ill testators.
            notes:
              type: string
              description: Additional notes on the capacity assessment.
              examples:
                - Testator showed clear understanding of estate and family circumstances
          additionalProperties: false
        ForcedHeirship:
          type: object
          description: Forced heirship regime details. Many civil law jurisdictions reserve a portion of the estate for certain heirs regardless of the will.
          properties:
            applies:
              type: boolean
              description: Whether forced heirship rules apply to this estate.
              examples:
                - true
            reservedPortion:
              type: number
              minimum: 0
              maximum: 100
              description: Percentage of the estate reserved for protected heirs. In France, this is 50% for one child, 66.67% for two, 75% for three or more.
              examples:
                - 50
                - 66.67
                - 75
            disposableQuota:
              type: number
              minimum: 0
              maximum: 100
              description: Percentage of the estate the testator may freely dispose of by will.
              examples:
                - 50
                - 33.33
                - 25
            jurisdiction:
              $ref: '#/components/schemas/jurisdiction'
              description: The jurisdiction whose forced heirship rules apply.
            claimNature:
              type: string
              enum:
                - property_share
                - cash_claim
                - usufruct
                - court_discretion
              $comment: 'property_share: heir receives a share of the actual estate property (France, Germany). cash_claim: heir has a monetary claim against the estate but not a property right (Switzerland post-2023, Japan). usufruct: heir receives a right of use/enjoyment, not ownership (some Spanish regions). court_discretion: court decides the form of provision (England and Wales — Inheritance Act 1975).'
              description: The legal nature of the forced heir's claim — whether they receive property, cash, or a court-determined provision.
              examples:
                - property_share
                - cash_claim
            calculationBasis:
              type: string
              enum:
                - fixed
                - per_child_sliding
                - court_discretion
                - conditional
              $comment: 'fixed: a set percentage regardless of family size (Japan: 50% of intestate share). per_child_sliding: varies by number of children (France). court_discretion: no fixed formula — court determines reasonable provision (England and Wales). conditional: depends on specific conditions being met.'
              description: How the reserved portion is calculated.
              examples:
                - fixed
                - per_child_sliding
            applicableTo:
              type: string
              enum:
                - children_only
                - children_and_spouse
                - all_descendants
                - all_heirs
              $comment: 'children_only: only direct children are protected heirs. children_and_spouse: surviving spouse and children are protected. all_descendants: includes grandchildren and further issue. all_heirs: all persons in the intestacy hierarchy (rare).'
              description: Which categories of heir are protected by forced heirship.
              examples:
                - children_and_spouse
            deferralRule:
              type: string
              description: Rule for deferring forced heirship claims — e.g. life interest to surviving spouse with remainder to children.
              examples:
                - Surviving spouse receives usufruct; children receive bare ownership
            effectiveDate:
              type: string
              format: date
              $comment: 'When these forced heirship rules took effect. Swiss 2023 reform: 2023-01-01.'
              description: Date when the applicable forced heirship rules came into force. Important for reform transitions.
              examples:
                - '2023-01-01'
                - '2006-07-01'
            reformVersion:
              type: string
              $comment: e.g., 'Swiss Code 2023 revision', 'French loi 2006-728'.
              description: The specific legislative reform establishing these rules.
              examples:
                - Swiss Code 2023 revision
                - French loi 2006-728
            notes:
              type: string
              description: Additional notes on forced heirship — exceptions, pending challenges, or reform context.
              examples:
                - Swiss 2023 reform reduced children's reserved portion from 75% to 50%
          additionalProperties: false
        AdjudicatingBody:
          type: object
          description: A court or authority with jurisdiction over this estate or part of it. Plural legal systems may have multiple adjudicating bodies for the same estate.
          properties:
            type:
              type: string
              enum:
                - secular_court
                - religious_court
                - beth_din
                - shariah_court
                - tribal_court
                - family_court
                - family_council
                - community_elders
                - partition_meeting
                - karta_decision
                - maori_land_court
                - high_court
              $comment: 'secular_court: state civil or probate court. religious_court: a religious tribunal (unspecified denomination). beth_din: Jewish rabbinical court. shariah_court: Islamic law court. tribal_court: indigenous/tribal judicial body. family_court: state family division. family_council: collective family decision-making body (West African, Pacific Island). community_elders: informal elder-led adjudication. partition_meeting: Hindu joint family partition proceedings. karta_decision: decision by the karta (manager) of a Hindu Undivided Family. maori_land_court: New Zealand court for Maori land succession. high_court: national or state high court (typically for contested probate).'
              description: The type of adjudicating body.
            name:
              type: string
              description: Name of the specific court or body.
              examples:
                - Principal Registry of the Family Division
                - Lagos High Court
                - Beth Din of Manchester
            jurisdiction:
              $ref: '#/components/schemas/jurisdiction'
              description: Jurisdiction this adjudicating body operates in.
            caseReference:
              type: string
              description: Case or filing reference number.
              examples:
                - PR-2025-001234
                - SH/2025/0456
            authoritative:
              type: boolean
              description: Whether this body's decisions are binding. A beth din ruling may be persuasive but not enforceable without secular court recognition.
              examples:
                - true
                - false
          required:
            - type
          additionalProperties: false
        ParallelDistribution:
          type: object
          description: A parallel distribution scheme operating alongside the primary estate distribution. Common in plural legal systems where statutory and customary/religious distributions run concurrently.
          properties:
            system:
              type: string
              description: The legal system governing this parallel distribution.
              examples:
                - Igbo customary law
                - Islamic faraid
                - Hindu Mitakshara
            jurisdiction:
              $ref: '#/components/schemas/jurisdiction'
              description: Jurisdiction where this parallel distribution applies.
            description:
              type: string
              description: Summary of how this system distributes the estate.
              examples:
                - Family compound passes to eldest son as custodian under Igbo customary law
            notes:
              type: string
              description: Additional context or conflict notes.
              examples:
                - Customary distribution of family land conflicts with testamentary gift to daughter
          required:
            - system
          additionalProperties: false
        ProbateGrant:
          type: object
          description: A grant of probate or letters of administration issued by a court. Without a grant, executors have no legal authority to administer the estate.
          properties:
            grantType:
              type: string
              description: The type of grant issued.
              examples:
                - Grant of Probate
                - Letters of Administration
                - Letters of Administration with Will Annexed
                - European Certificate of Succession
            grantDate:
              type: string
              format: date
              description: Date the grant was issued by the court.
              examples:
                - '2025-06-15'
            grantReference:
              type: string
              description: Court reference number for the grant.
              examples:
                - PRO-2025-123456
            issuingCourt:
              type: string
              description: Name of the court or registry that issued the grant.
              examples:
                - Principal Registry of the Family Division
                - Birmingham District Probate Registry
                - Supreme Court of New South Wales
            jurisdiction:
              $ref: '#/components/schemas/jurisdiction'
              description: Jurisdiction that issued this grant.
            notes:
              type: string
              description: Additional notes about the grant.
              examples:
                - Limited grant — foreign property excluded
          additionalProperties: false
        DeathRecord:
          type: object
          description: Details of the testator's death. Establishes the date from which succession takes effect and the domicile at death (which determines governing law for moveables).
          properties:
            dateOfDeath:
              type: string
              format: date
              description: Date of death in ISO 8601 format.
              examples:
                - '2025-09-30'
            placeOfDeath:
              type: string
              description: Place where death occurred.
              examples:
                - Manchester Royal Infirmary
                - At home, 42 Acacia Avenue, London
                - Tokyo Metropolitan Hospital
            deathCertificateRef:
              type: string
              description: Death certificate reference number.
              examples:
                - DC-2025-123456
            domicileAtDeath:
              $ref: '#/components/schemas/jurisdiction'
              description: The testator's domicile at the time of death. This determines which succession law governs moveable property.
            notes:
              type: string
              description: Additional notes about the death record.
              examples:
                - Death registered in two jurisdictions — UK and France
          additionalProperties: false
        SuccessionConflict:
          type: object
          description: A conflict between legal systems regarding succession for this estate. Common in plural jurisdictions and cross-border estates.
          properties:
            description:
              type: string
              description: Summary of the conflict between legal systems.
              examples:
                - Statutory will gives daughter the house; Igbo customary law gives eldest son custodianship
                - French forced heirship claim conflicts with English testamentary freedom
            systems:
              type: array
              items:
                type: string
              description: The legal systems in conflict.
              examples:
                - - statutory
                  - Igbo customary
                - - French civil law
                  - English common law
            resolutionStatus:
              type: string
              enum:
                - unresolved
                - resolved
                - pending_court
                - pending_arbitration
              $comment: 'unresolved: no resolution attempt yet. resolved: conflict has been settled. pending_court: matter referred to a court. pending_arbitration: matter referred to arbitration or mediation.'
              description: Current status of this conflict.
            notes:
              type: string
              description: Additional context or resolution details.
              examples:
                - Family council meeting scheduled for December 2025
          required:
            - description
          additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for this estate record.
          examples:
            - b2c3d4e5-f6a7-8901-bcde-f12345678901
        testatorPersonId:
          type: string
          format: uuid
          description: Reference to the Person.id of the testator (the person whose estate this is).
        status:
          type: string
          enum:
            - planning
            - confirmed
            - pre_probate
            - in_administration
            - distributed
            - closed
          $comment: 'planning: estate plan is being prepared, not yet finalised. confirmed: estate plan is signed and in effect — the will has been executed. pre_probate: testator has died, estate is being gathered before applying for probate/grant. in_administration: grant obtained, estate is being administered — collecting assets, paying debts, distributing. distributed: all assets distributed to beneficiaries, final accounts pending. closed: estate administration is complete — all accounts filed, all distributions confirmed.'
          description: The lifecycle status of this estate record. Progresses from planning through to closure.
          examples:
            - planning
            - confirmed
            - in_administration
        jurisdiction:
          $ref: '#/components/schemas/jurisdiction'
          description: Primary jurisdiction governing this estate. For cross-border estates, this is the domiciliary jurisdiction.
        willType:
          type: string
          enum:
            - secular
            - religious
            - dual
            - composite
            - oral_witnessed
            - oral_customary
            - holographic
            - notarised
            - privileged_will
          $comment: 'secular: standard statutory will. religious: will made under a religious legal system (Shariah, halacha). dual: separate secular and religious wills for the same estate. composite: a single will incorporating both secular and religious elements. oral_witnessed: spoken will witnessed by required number of witnesses. oral_customary: spoken will valid under customary law. holographic: handwritten will entirely in the testator''s hand (valid in France, Japan, some US states). notarised: will executed before a notary public (standard in civil law jurisdictions). privileged_will: military or mariner''s will with relaxed formalities.'
          description: The type of will governing this estate. Determines which formality rules apply.
          examples:
            - secular
            - dual
            - holographic
        extensionWillType:
          type: string
          $comment: Non-core will types (e.g. jihi_shosho for Japanese holographic wills). Extension schemas validate.
          description: Extension-specific will type not covered by the core enum. Validated by the relevant extension schema.
          examples:
            - jihi_shosho
            - himitsu_shosho
            - wasiyya_shariyya
        companionEstateId:
          type: string
          format: uuid
          $comment: For dual-system estates — links secular and religious estate records. Also used for companion (household/couples) estates.
          description: Links to a companion estate record — either a parallel estate under a different legal system, or a household companion's estate.
        companionLinkStatus:
          type: string
          enum:
            - invited
            - active
            - decoupling
            - decoupled
          description: Current state of the companion estate link. Absent if the estate has never been linked to a companion.
          $comment: 'Lifecycle: invited → active → decoupling → decoupled. See docs/companion-estates.md for full semantics.'
          examples:
            - active
            - decoupled
        linkedAt:
          type: string
          format: date
          description: ISO 8601 date when the companion link became active.
          examples:
            - '2026-03-15'
        decoupledAt:
          type: string
          format: date
          description: ISO 8601 date when the companion link was severed.
          examples:
            - '2026-09-01'
        primaryInstrument:
          type: string
          enum:
            - will
            - revocable_trust
            - both
            - intestacy
          $comment: 'will: estate passes primarily through the will. revocable_trust: estate passes through a revocable (living) trust — common in US estate planning. both: combination of will and trust. intestacy: no will exists — estate distributes under intestacy rules.'
          description: The primary instrument governing succession for this estate.
          examples:
            - will
            - intestacy
        defaultPropertyRegime:
          type: string
          enum:
            - community_property
            - separate_property
            - equitable_distribution
            - deferred_community
            - universal_community
            - participation_in_acquisitions
            - islamic_dower
          $comment: 'community_property: assets acquired during marriage are jointly owned 50/50 (US community property states, France, Spain). separate_property: each spouse owns what they acquire (England and Wales, most common law). equitable_distribution: court divides property fairly on divorce/death (most US states on divorce). deferred_community: assets are separate during marriage but shared on dissolution (Scandinavia, Germany). universal_community: all assets are joint from marriage (Netherlands pre-2018, some Indonesian adat). participation_in_acquisitions: Swiss regime — separate during marriage, share gains on dissolution. islamic_dower: mahr-based system — property is separate, wife has deferred mahr claim.'
          description: The default marital property regime for this estate. Determines which assets the testator may freely dispose of.
          examples:
            - separate_property
            - community_property
        totalEstimatedValue:
          $ref: '#/components/schemas/money'
          description: Estimated total value of the estate before liabilities. In minor currency units.
        attestation:
          $ref: '#/components/schemas/attestation'
          description: Will execution formalities — witnesses, signing method, and compliance checks.
        testamentaryCapacity:
          $ref: '#/components/schemas/TestamentaryCapacity'
          description: Record of testamentary capacity assessment for the testator.
        codicils:
          type: array
          items:
            $ref: '#/components/schemas/Codicil'
          description: Amendments to the will. Each codicil must be executed with proper formalities.
        revokesDocumentIds:
          type: array
          items:
            type: string
            format: uuid
          description: Document IDs of prior wills or instruments this estate record expressly revokes.
          examples:
            - - c3d4e5f6-a7b8-9012-cdef-123456789012
        revocationClause:
          type: boolean
          description: Whether the will contains a general revocation clause ('I revoke all former wills and testamentary dispositions').
          examples:
            - true
        forcedHeirship:
          $ref: '#/components/schemas/ForcedHeirship'
          description: Forced heirship regime applicable to this estate, if any.
        adjudicatingBodies:
          type: array
          items:
            $ref: '#/components/schemas/AdjudicatingBody'
          description: Courts and bodies with jurisdiction over this estate. Plural legal systems may involve multiple courts.
        parallelDistributions:
          type: array
          items:
            $ref: '#/components/schemas/ParallelDistribution'
          description: Parallel distribution schemes under different legal systems — customary, religious, or statutory.
        probateGrant:
          $ref: '#/components/schemas/ProbateGrant'
          description: The probate grant or letters of administration for this estate.
        deathRecord:
          $ref: '#/components/schemas/DeathRecord'
          description: Details of the testator's death.
        successionConflicts:
          type: array
          items:
            $ref: '#/components/schemas/SuccessionConflict'
          description: Known conflicts between legal systems regarding succession for this estate.
        choiceOfLaw:
          type: object
          $comment: Brussels IV Regulation choice of law. Allows EU nationals to choose their nationality's law for succession.
          description: Choice of law declaration under the Brussels IV Regulation (EU Succession Regulation 650/2012) or equivalent. Allows the testator to choose which jurisdiction's succession law applies.
          properties:
            chosenLaw:
              $ref: '#/components/schemas/jurisdiction'
              description: The jurisdiction whose law the testator has chosen to govern succession.
            basis:
              type: string
              description: Legal basis for the choice of law.
              examples:
                - Brussels IV Regulation Art. 22 — nationality at time of choice
                - Hague Convention on the Law Applicable to Succession
            documentRef:
              type: string
              description: Reference to the document containing the choice of law declaration.
              examples:
                - DOC-2024-COL-001
          additionalProperties: false
        electiveShareRight:
          type: object
          $comment: US — surviving spouse's right to elect against the will.
          description: Surviving spouse's elective share right (US). Allows the spouse to claim a statutory share of the estate regardless of the will's provisions.
          properties:
            available:
              type: boolean
              description: Whether elective share is available in this jurisdiction.
              examples:
                - true
            electedAmount:
              $ref: '#/components/schemas/money'
              description: The amount elected by the surviving spouse, if the election has been made.
            statute:
              type: string
              description: The statute governing elective share in this jurisdiction.
              examples:
                - Uniform Probate Code §2-202
                - New York EPTL §5-1.1-A
            notes:
              type: string
              description: Additional notes on the elective share.
              examples:
                - Augmented estate calculation includes revocable trust assets
          additionalProperties: false
        priorMatrimonialClaim:
          type: object
          description: A prior matrimonial claim against the estate — typically from a former spouse under a financial order.
          properties:
            exists:
              type: boolean
              description: Whether a prior matrimonial claim exists.
              examples:
                - true
            description:
              type: string
              description: Description of the claim.
              examples:
                - Former wife has lump sum order of £50,000 outstanding from 2018 divorce
            claimantPersonId:
              type: string
              format: uuid
              description: Reference to the Person.id of the claimant.
            notes:
              type: string
              description: Additional context.
              examples:
                - Clean break order obtained — no further claims
          additionalProperties: false
        noContestClause:
          type: object
          $comment: In terrorem clause — beneficiary forfeits gift if they challenge the will.
          description: In terrorem (no-contest) clause — a provision that a beneficiary forfeits their gift if they challenge the will. Enforceability varies by jurisdiction.
          properties:
            present:
              type: boolean
              description: Whether the will contains a no-contest clause.
              examples:
                - true
            enforceability:
              type: string
              description: Enforceability status in the governing jurisdiction.
              examples:
                - Enforceable in Florida
                - Generally unenforceable in England and Wales
                - Enforceable unless probable cause exists (California)
            notes:
              type: string
              description: Additional context about the clause.
              examples:
                - Clause includes safe harbour for challenges brought in good faith
          additionalProperties: false
        pretermittedHeirClaims:
          type: array
          $comment: Claims by children born/adopted after the will was made.
          description: Claims by pretermitted heirs — children born or adopted after the will was executed who are not mentioned in it.
          items:
            type: object
            properties:
              claimantPersonId:
                type: string
                format: uuid
                description: Reference to the Person.id of the pretermitted heir.
              status:
                type: string
                description: Current status of this claim.
                examples:
                  - pending
                  - settled
                  - dismissed
                  - intestate share awarded
              notes:
                type: string
                description: Additional context about the claim.
                examples:
                  - Child born 2023, will executed 2020 — no mention in will or codicil
            additionalProperties: false
        testamentaryPromises:
          type: array
          $comment: NZ — claims under the Law Reform (Testamentary Promises) Act 1949.
          description: Claims under the Law Reform (Testamentary Promises) Act 1949 (New Zealand). Allows claims by persons who provided services to the deceased in reliance on a promise of testamentary provision.
          items:
            type: object
            properties:
              claimantPersonId:
                type: string
                format: uuid
                description: Reference to the Person.id of the claimant.
              promiseDescription:
                type: string
                description: Description of the promise made by the testator.
                examples:
                  - Promised to leave the farm to nephew in return for 10 years of farm management
              status:
                type: string
                description: Current status of this claim.
                examples:
                  - pending
                  - claim filed
                  - settled
                  - dismissed
              notes:
                type: string
                description: Additional context.
                examples:
                  - Multiple witnesses to the promise — strong claim
            additionalProperties: false
        judicialVariationPower:
          type: object
          $comment: UK/NZ — court power to vary a will under the Inheritance (Provision for Family and Dependants) Act 1975 or equivalent.
          description: Court power to vary a will to make reasonable financial provision for family and dependants. Applies in England and Wales (Inheritance Act 1975), New Zealand, and similar jurisdictions.
          properties:
            available:
              type: boolean
              description: Whether judicial variation is available in this jurisdiction.
              examples:
                - true
            statute:
              type: string
              description: The statute granting variation power.
              examples:
                - Inheritance (Provision for Family and Dependants) Act 1975
                - Family Protection Act 1955 (NZ)
            notes:
              type: string
              description: Additional context.
              examples:
                - Claim must be brought within 6 months of grant of representation
          additionalProperties: false
        commorientesRule:
          type: object
          $comment: Rule determining order of death when people die in the same event. Varies by jurisdiction.
          description: Commorientes rule — the legal presumption for order of death when two or more people die in the same event. Critical for determining which estate inherits from which.
          properties:
            applicable:
              type: boolean
              description: Whether the commorientes rule is relevant to this estate.
              examples:
                - true
            rule:
              type: string
              description: The applicable commorientes rule.
              examples:
                - s.184 Law of Property Act 1925 — deaths presumed in order of seniority
                - Uniform Simultaneous Death Act — treated as if each predeceased the other
            jurisdiction:
              $ref: '#/components/schemas/jurisdiction'
              description: Jurisdiction whose commorientes rule applies.
            notes:
              type: string
              description: Additional context — e.g. specific facts of the case.
              examples:
                - Husband (72) and wife (68) died in same road traffic accident
          additionalProperties: false
        ancillaryProbate:
          type: array
          $comment: Multi-jurisdiction estate administration. Each entry represents one jurisdiction's administration.
          description: Ancillary probate proceedings in jurisdictions other than the primary domiciliary jurisdiction. Required when the estate includes assets in foreign jurisdictions.
          items:
            type: object
            properties:
              jurisdiction:
                $ref: '#/components/schemas/jurisdiction'
                description: The jurisdiction where ancillary probate is needed.
              fiduciaryPersonId:
                type: string
                format: uuid
                description: Reference to the Person.id of the local fiduciary or administrator.
              status:
                type: string
                enum:
                  - not_started
                  - applied
                  - granted
                  - completed
                  - waived
                $comment: 'not_started: ancillary probate has not yet been initiated. applied: application has been submitted. granted: grant has been issued. completed: administration in this jurisdiction is finished. waived: ancillary probate is not required (e.g. small estate exemption).'
                description: Current status of ancillary probate in this jurisdiction.
              grantReference:
                type: string
                description: Local grant reference number.
                examples:
                  - ANC-2025-FR-001
              localCounsel:
                type: string
                description: Name of local legal counsel handling this jurisdiction.
                examples:
                  - Maître Dupont, Paris
                  - Tanaka & Associates, Tokyo
                  - Okonkwo & Partners, Lagos
                  - Sharma Legal, Mumbai
                  - Al-Tamimi & Company, Dubai
              notes:
                type: string
                description: Additional notes.
                examples:
                  - French notaire requires apostilled UK grant
            required:
              - jurisdiction
            additionalProperties: false
        registrations:
          type: array
          $comment: Will registries worldwide (DIFC Wills Service Centre, UK Probate Registry, etc.).
          description: Registrations of the will with official will registries. Not all jurisdictions have will registries, and registration is rarely compulsory.
          items:
            type: object
            properties:
              registry:
                type: string
                description: Name of the will registry.
                examples:
                  - Certainty National Will Register
                  - DIFC Wills Service Centre
                  - Japan Legal Affairs Bureau
              registrationNumber:
                type: string
                description: Registration reference number.
                examples:
                  - CNWR-2024-123456
                  - DIFC-W-2024-0789
              jurisdictionScope:
                type: string
                description: What the registration covers — may be limited to certain jurisdictions or asset classes.
                examples:
                  - England and Wales only
                  - DIFC-registered assets only
                  - Worldwide
              registrationDate:
                type: string
                format: date
                description: Date the will was registered.
                examples:
                  - '2024-07-01'
            required:
              - registry
            additionalProperties: false
        reportingCurrency:
          type: string
          pattern: ^[A-Z]{3}$
          $comment: ISO 4217 currency for probate reporting.
          description: The currency used for probate reporting and estate accounts. All values in this estate may need converting to this currency.
          examples:
            - GBP
            - USD
            - EUR
        conversionRates:
          type: array
          $comment: Exchange rates used for estate valuation in cross-border estates.
          description: Exchange rates used when converting foreign-currency assets to the reporting currency. Document the rate and date to satisfy probate courts.
          items:
            type: object
            properties:
              fromCurrency:
                type: string
                pattern: ^[A-Z]{3}$
                description: Source currency code (ISO 4217).
                examples:
                  - EUR
                  - JPY
              toCurrency:
                type: string
                pattern: ^[A-Z]{3}$
                description: Target currency code (ISO 4217).
                examples:
                  - GBP
                  - USD
              rate:
                type: number
                exclusiveMinimum: 0
                description: Exchange rate — one unit of fromCurrency equals this many units of toCurrency.
                examples:
                  - 0.86
                  - 0.0054
              rateDate:
                type: string
                format: date
                description: Date this exchange rate was sourced.
                examples:
                  - '2025-09-30'
              source:
                type: string
                description: Source of the exchange rate.
                examples:
                  - Bank of England daily rate
                  - HMRC monthly rate
                  - XE.com
            required:
              - fromCurrency
              - toCurrency
              - rate
              - rateDate
            additionalProperties: false
        taxTreatyPositions:
          type: array
          $comment: Bilateral tax treaty claims relevant to the estate.
          description: Tax treaty positions relevant to the estate. Documents which treaties are being relied upon for double taxation relief.
          items:
            type: object
            properties:
              treaty:
                type: string
                description: Name of the bilateral tax treaty.
                examples:
                  - UK-US Estate Tax Treaty 1979
                  - Japan-US Estate Tax Treaty 1955
              primaryTaxingJurisdiction:
                $ref: '#/components/schemas/jurisdiction'
                description: The jurisdiction with primary taxing rights under this treaty.
              claimedCredits:
                type: string
                description: Tax credits claimed under this treaty.
                examples:
                  - Credit for UK IHT against US federal estate tax
                  - Full exemption under Art. 8
              relevantArticle:
                type: string
                description: The specific treaty article being relied upon.
                examples:
                  - Art. 5(1)
                  - Art. 8
                  - Art. 11(2)(a)
              notes:
                type: string
                description: Additional context.
                examples:
                  - Treaty predates FATCA — potential interaction with reporting requirements
            required:
              - treaty
            additionalProperties: false
        suggestedPractitionerNeeds:
          type: array
          items:
            type: string
          $comment: Informational. Activity codes computed from estate complexity — e.g. trust_preparation, cross_border, iht_planning. Canonical taxonomy at openinherit.org/reference/practitioner-activities.json.
          description: Informational list of practitioner activity codes suggesting the types of professional help this estate may need. Computed from estate complexity, not user-entered.
          examples:
            - - cross_border
              - iht_planning
              - trust_preparation
            - - simple_probate
        createdAt:
          type: string
          format: date
          description: Date this estate record was first created.
          examples:
            - '2024-01-15'
        lastModifiedAt:
          type: string
          format: date
          description: Date this estate record was last modified.
          examples:
            - '2025-03-27'
        executionDate:
          type: string
          format: date
          description: Date the will was formally executed (signed with proper attestation). Enables look-back period calculations when combined with lifetime transfers.
          examples:
            - '2024-06-15'
            - '2020-03-01'
        administration:
          type: object
          $comment: Administration phase data — populated when the testator dies and the estate enters pre_probate or in_administration status.
          description: Estate administration details. Tracks the journey from death through grant, tax clearance, distribution, and closure.
          properties:
            dateOfDeath:
              type: string
              format: date
              description: Date of death — the date from which succession takes effect.
              examples:
                - '2026-01-15'
            dateOfGrant:
              type: string
              format: date
              description: Date the probate grant or letters of administration were issued.
              examples:
                - '2026-06-01'
            grantType:
              type: string
              enum:
                - grant_of_probate
                - letters_of_administration
                - letters_of_administration_with_will_annexed
                - succession_certificate
                - certificate_of_inheritance
                - court_appointment
                - resealing
                - european_certificate_of_succession
                - other
              $comment: 'grant_of_probate: E&W/AU/NZ — court confirms named executor. letters_of_administration: E&W — no will, court appoints administrator. letters_of_administration_with_will_annexed: E&W — will exists but named executor cannot act. succession_certificate: IN/PK — Indian Succession Act s.372. certificate_of_inheritance: DE/JP/FR — Erbschein (DE), 相続証明書 (JP), Acte de notoriété (FR). court_appointment: generic court appointment of administrator. resealing: foreign grant recognised locally (Commonwealth). european_certificate_of_succession: EU Brussels IV certificate. other: jurisdiction-specific grant type.'
              description: Type of grant authorising estate administration.
            grantReference:
              type: string
              description: Court reference number for the grant.
              examples:
                - PRO-2026-123456
            court:
              type: string
              description: Name of the issuing court or registry.
              examples:
                - Principal Registry of the Family Division
                - Leeds District Probate Registry
                - Tokyo Family Court
            grossEstateValue:
              $ref: '#/components/schemas/money'
              description: Gross value of the estate at date of death, before deducting liabilities.
            netEstateValue:
              $ref: '#/components/schemas/money'
              description: Net value of the estate after deducting liabilities.
            taxLiability:
              $ref: '#/components/schemas/money'
              description: Total inheritance/estate tax liability.
            taxPaid:
              $ref: '#/components/schemas/money'
              description: Amount of inheritance/estate tax paid so far.
            taxClearance:
              type: object
              description: Tax clearance status — confirmation from the tax authority that no further tax is owed.
              properties:
                status:
                  type: string
                  enum:
                    - not_applied
                    - applied
                    - received
                    - not_required
                  $comment: 'not_applied: clearance not yet applied for. applied: application submitted. received: clearance certificate received. not_required: estate below tax threshold.'
                  description: Current status of tax clearance.
                clearanceDate:
                  type: string
                  format: date
                  description: Date clearance was received.
                reference:
                  type: string
                  description: Tax clearance reference number.
                  examples:
                    - HMRC-IHT-CLR-2026-789
              additionalProperties: false
            distributions:
              type: array
              description: Record of distributions made to beneficiaries during administration.
              items:
                type: object
                properties:
                  beneficiaryPersonId:
                    type: string
                    format: uuid
                    description: Person ID of the beneficiary receiving the distribution.
                  bequestId:
                    type: string
                    format: uuid
                    description: Reference to the Bequest being fulfilled.
                  distributionDate:
                    type: string
                    format: date
                    description: Date the distribution was made.
                  assetId:
                    type: string
                    format: uuid
                    description: Asset ID if a specific asset was transferred.
                  propertyId:
                    type: string
                    format: uuid
                    description: Property ID if a property was transferred.
                  cashAmount:
                    $ref: '#/components/schemas/money'
                    description: Cash amount distributed, in minor currency units.
                  receipt:
                    type: boolean
                    description: Whether a receipt/acknowledgement has been obtained from the beneficiary.
                    examples:
                      - true
                      - false
                  notes:
                    type: string
                    description: Additional distribution notes.
                    examples:
                      - Interim distribution — further distribution expected after property sale
                required:
                  - beneficiaryPersonId
                  - distributionDate
                additionalProperties: false
            estateAccountsFiled:
              type: boolean
              description: Whether the estate accounts have been prepared and filed/approved.
              examples:
                - false
            notes:
              type: string
              description: Additional administration notes.
              examples:
                - Awaiting sale of Spanish property before final distribution
          additionalProperties: false
        notes:
          type: string
          description: Free-text notes about the estate. Use for anything not captured by structured fields.
          examples:
            - Complex cross-border estate — UK, France, and Singapore assets. Dual will structure.
      required:
        - id
        - testatorPersonId
        - status
        - jurisdiction
        - createdAt
        - lastModifiedAt
      patternProperties:
        ^x-inherit-: {}
      unevaluatedProperties: false
    address:
      $schema: https://openinherit.org/v1/dialect.json
      $id: https://openinherit.org/v1/common/address.json
      $comment: All fields optional. Supports Western, Japanese (reversed), Indian (landmark-based), African (informal) addressing. An empty object is valid — some jurisdictions have no formal address system.
      title: PostalAddress
      description: A physical address. Culturally neutral — supports any global addressing convention.
      type: object
      properties:
        formattedAddress:
          type: string
          description: The full address as a single formatted string, suitable for display. Preserves the original representation from the source document. Must not be the sole address representation — always populate structured fields where possible.
          examples:
            - 13 Park Avenue, Flint, Flintshire CH6 5DW
            - 123 Main Street, Apt 4B, New York, NY 10001
            - 〒100-0001 東京都千代田区千代田1-1
        streetAddress:
          type: string
          description: Street number and name. For Japanese addresses, use the block and building number (chōme-ban-gō).
          examples:
            - 13 Park Avenue
            - 123 Main Street, Apt 4B
            - 千代田1-1
            - 42 Rue de Rivoli
        addressLine2:
          type: string
          description: Secondary address line — flat, suite, building, or floor. Use when the primary street address is insufficient.
          examples:
            - Flat 3B
            - Suite 400
            - 2nd Floor, Tower A
        addressLocality:
          type: string
          description: City, town, village, or ward. For Japanese addresses, this is the city or special ward (ku).
          examples:
            - Manchester
            - 千代田区
            - Mumbai
            - Dubai
            - Toronto
        addressRegion:
          type: string
          description: State, prefecture, province, or county. The administrative division below national level.
          examples:
            - Greater Manchester
            - 東京都
            - Maharashtra
            - California
            - Ontario
        postalCode:
          type: string
          description: Postal or ZIP code. Format varies by country — UK postcodes, US ZIP codes, Japanese 〒 codes, etc.
          examples:
            - M1 1AA
            - '10001'
            - 100-0001
            - '400001'
            - M5V 2T6
        addressCountry:
          type: string
          pattern: ^[A-Z]{2}$
          description: ISO 3166-1 alpha-2 country code. Always uppercase.
          examples:
            - GB
            - US
            - JP
            - IN
            - AE
            - NG
        latitude:
          type: number
          minimum: -90
          maximum: 90
          description: Geographic latitude in decimal degrees. Useful for properties in jurisdictions without formal addressing systems.
          examples:
            - 51.5074
            - 35.6762
            - -33.8688
        longitude:
          type: number
          minimum: -180
          maximum: 180
          description: Geographic longitude in decimal degrees. Pair with latitude for precise property location.
          examples:
            - -0.1278
            - 139.6503
            - 151.2093
        landmark:
          type: string
          $comment: Common in India, Nigeria, rural areas. 'Near Meenakshi Temple' or 'Behind Shoprite, Lekki Phase 1'.
          description: A nearby landmark used to locate the address. Essential in jurisdictions without formal street addressing — India, Nigeria, and rural areas worldwide.
          examples:
            - Near Meenakshi Temple
            - Behind Shoprite, Lekki Phase 1
            - Opposite the District Court
        directionNotes:
          type: string
          $comment: Free-form directions when no formal address exists. Common in rural Africa, parts of India.
          description: Free-form directions to reach the address when no formal address system exists. Common in rural communities across Africa, South Asia, and the Pacific Islands.
          examples:
            - Take the second left after the market, third compound on the right
            - 500m past the village well, red gate
        addressOrder:
          type: string
          enum:
            - western
            - japanese
            - indian
            - arabic
            - custom
          $comment: 'western: street → city → region → country (most of the world). japanese: country → prefecture → city → ward → block → building (reversed from Western). indian: building → street → landmark → locality → city → state. arabic: building → street → district → city → country. custom: any other ordering convention. Determines display order.'
          description: The addressing convention that governs the display order of this address. Defaults to 'western' if omitted.
          examples:
            - western
            - japanese
      additionalProperties: false
    identifier:
      $schema: https://openinherit.org/v1/dialect.json
      $id: https://openinherit.org/v1/common/identifier.json
      title: Identifier
      description: A typed external identifier. Use 'system' to namespace identifiers and prevent collisions across jurisdictions and organisations.
      type: object
      properties:
        system:
          type: string
          description: Namespace URI or name identifying the issuing authority or system. Use URN format where possible for unambiguous identification.
          examples:
            - urn:hmrc:nino
            - urn:ssa:ssn
            - urn:jpn:my-number
            - urn:aus:tfn
            - urn:charity-commission:number
        value:
          type: string
          description: The identifier value itself. Format depends on the system — may include hyphens, spaces, or check digits as appropriate.
          examples:
            - AB123456C
            - 123-45-6789
            - 1234 5678 9012
            - SC012345
        type:
          type: string
          description: Human-readable type label describing what kind of identifier this is.
          examples:
            - passport
            - national_insurance
            - social_security
            - charity_number
            - driving_licence
            - tax_file_number
      required:
        - value
      additionalProperties: false
    person:
      $schema: https://openinherit.org/v1/dialect.json
      $id: https://openinherit.org/v1/person.json
      title: Person
      description: A person involved in the estate. Schema.org name alignment. Any Unicode script. Supports CJK phonetic readings, chieftaincy titles, clan/lineage identifiers, dual legal personalities, and tax residency across multiple jurisdictions.
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for this person within the INHERIT document. Must be referenced consistently across all entities.
          examples:
            - f47ac10b-58cc-4372-a567-0e02b2c3d479
        givenName:
          type: string
          minLength: 1
          description: The person's given (first) name. For cultures where given name follows family name (e.g. Japanese, Chinese), this is still the given name — display ordering is a presentation concern.
          examples:
            - James
            - Margaret
            - 裕子
            - Priya
            - محمد
            - Soo-jin
            - Amara
            - Fatima
            - Arjun
            - Chioma
            - Haruki
            - Aisha
        familyName:
          type: string
          minLength: 1
          $comment: Optional — Tamil naming uses a single name. Systems must handle absent familyName.
          description: The person's family name (surname). Some cultures do not use family names — Tamil, Icelandic patronymic, and mononymous naming conventions are all valid without this field.
          examples:
            - Davies
            - Nakamura
            - O'Brien
            - 김
            - Müller
            - Sharma
            - Al-Hassan
            - Okonkwo
            - Watanabe
            - Ibrahim
            - Mensah
            - Patel
        additionalName:
          type: string
          description: Middle name(s) or additional given names. Multiple middle names should be space-separated.
          examples:
            - William
            - María del Carmen
            - Raj Kumar
            - Yuki
            - Omar
            - Tendai
        preferredName:
          type: string
          description: Name the person prefers to be called. May differ from legal name — use this for correspondence and display where appropriate.
          examples:
            - Jim
            - Maggie
            - ゆう
            - Bobby
            - Riya
            - Mo
            - Kwame
        phoneticReading:
          type: object
          $comment: 'Required for CJK names. Japanese: furigana/romaji. Chinese: pinyin. Korean: romanisation. Ensures names can be read by non-native systems.'
          description: Phonetic reading of the person's name. Essential for CJK names to ensure correct pronunciation by non-native speakers and systems.
          properties:
            givenName:
              type: string
              description: Phonetic reading of the given name.
              examples:
                - ゆうこ
                - Yūko
                - Wěi
            familyName:
              type: string
              description: Phonetic reading of the family name.
              examples:
                - たなか
                - Tanaka
                - Zhāng
            fullName:
              type: string
              description: Phonetic reading of the complete name as a single string.
              examples:
                - たなか ゆうこ
                - Tanaka Yūko
                - Zhāng Wěi
          minProperties: 1
          additionalProperties: false
        titles:
          type: array
          $comment: Chieftaincy titles (Nigerian), honorifics (Japanese), caste/clan titles (Indian), religious titles, academic degrees.
          description: Formal titles held by this person. Multiple titles are common — a person may hold academic, professional, and traditional titles simultaneously.
          examples:
            - - title: Dr
                type: academic
            - - title: Eze
                type: chieftaincy
              - title: Professor
                type: academic
          items:
            type: object
            properties:
              title:
                type: string
                description: The title text itself.
                examples:
                  - Dr
                  - Prof
                  - Eze
                  - Rabbi
                  - Alhaji
                  - Dame
              type:
                type: string
                enum:
                  - chieftaincy
                  - traditional
                  - religious
                  - professional
                  - honorific
                  - clan
                  - academic
                  - military
                  - other
                $comment: 'chieftaincy: Nigerian/West African chieftaincy title (Eze, Oba, Chief). traditional: hereditary or cultural title not tied to a chieftaincy. religious: Rabbi, Imam, Reverend, Swami. professional: solicitor, barrister, notary. honorific: knighthood, CBE, OBE, MBE. clan: caste or clan-based title (Indian gotra-related). academic: PhD, Professor, Dr. military: Colonel, Brigadier, etc. other: anything not covered above.'
            required:
              - title
            additionalProperties: false
        clanOrLineage:
          type: string
          $comment: Used exclusively in jurisdictions where customary succession law determines inheritance rights based on clan membership (e.g. South Africa Customary Marriages Act 1998, Nigerian Igbo/Yoruba customary law, Kenyan Law of Succession Act s.32-33). Also covers Indian gotra under Hindu Succession Act 1956. Not collected in jurisdictions where clan affiliation has no legal relevance to succession.
          description: Clan, tribe, lineage, or gotra affiliation. In some legal systems (Hindu, customary African), this determines inheritance rights and succession order.
          examples:
            - Bharadwaja
            - Ogbuagu
            - MacDonald
        dateOfBirth:
          type: string
          format: date
          description: The person's date of birth in ISO 8601 format. Used to determine age-dependent inheritance rights and guardianship requirements.
          examples:
            - '1952-03-15'
            - '1998-11-22'
            - '2020-07-01'
        dateOfDeath:
          type: string
          format: date
          description: The person's date of death in ISO 8601 format, if deceased. Relevant for determining predecease rules, commorientes, and survivorship.
          examples:
            - '2025-09-30'
            - '2024-01-15'
        gender:
          type: string
          enum:
            - male
            - female
            - non_binary
            - other
            - prefer_not_to_say
            - unknown
          $comment: 'Optional but needed for gender-dependent inheritance (Islamic faraid, Hindu succession pre-2005). Halachic/Islamic gender categories available via x-inherit-* extensions. male: legally or self-identified male. female: legally or self-identified female. non_binary: person does not identify as exclusively male or female. other: gender identity not covered by other values. prefer_not_to_say: person has declined to state. unknown: gender has not been recorded.'
          description: The person's gender. Optional, but required where inheritance rules are gender-dependent (e.g. Islamic faraid, Hindu succession).
          examples:
            - female
            - male
            - non_binary
        domicile:
          $ref: '#/components/schemas/jurisdiction'
          $comment: Domicile (not residence/nationality) determines succession law for moveables in conflict-of-laws. A British citizen domiciled in France has moveables governed by French forced heirship.
          description: The person's legal domicile. Domicile — not nationality or residence — determines which succession law governs moveable property.
        roles:
          type: array
          items:
            type: string
            enum:
              - testator
              - beneficiary
              - executor
              - guardian
              - trustee
              - witness
              - attorney
              - proxy
              - protector
              - enforcer
          minItems: 1
          uniqueItems: true
          $comment: 'testator: the person whose estate this is. beneficiary: someone who receives a gift or share. executor: appointed to administer the estate. guardian: appointed to care for minor children. trustee: manages trust assets. witness: attested the will signing. attorney: holds power of attorney. proxy: authorised to act on behalf of a party. protector: oversees a trust. enforcer: enforces trust terms (common in Islamic trusts and Cayman STAR trusts). Core roles define the person''s function in the estate. Extension-specific roles (bekhor, karta, okpara, mutawalli) should be added via x-inherit-* blocks alongside core roles. The array is intentionally extensible — a person can be both ''executor'' (core) and ''karta'' (x-inherit-hindu-succession). Extensions should NOT attempt to add values to this enum.'
          description: The roles this person plays in the estate. A person may hold multiple roles simultaneously (e.g. beneficiary and executor).
          examples:
            - - testator
            - - beneficiary
              - executor
            - - witness
            - - trustee
              - protector
        contact:
          type: object
          description: Contact details for this person. All fields are optional — some parties may have no known contact information.
          properties:
            email:
              type: string
              format: email
[...]
