openapi: '3.1.0'
info:
  title: INHERIT — Open Estate Data Interchange Standard
  version: '1.0.0'
  description: |
    INHERIT is an open data standard for estate planning information,
    supporting succession law across common law, civil law, Islamic,
    Jewish, Hindu, Japanese, and African customary legal traditions.

    This document serves two purposes:
    1. Schema bundle — all 40 JSON Schemas as OpenAPI components for
       TypeScript type generation, Zod schema generation, and SDK creation
    2. Validation endpoint — a reference endpoint for document validation

    For the full specification, visit https://openinherit.org
  license:
    name: Apache 2.0
    identifier: Apache-2.0
  contact:
    name: OpenInherit
    url: https://openinherit.org
    email: hello@openinherit.org

servers:
  - url: https://api.openinherit.org/v1
    description: Reference validation server

security: []

paths:
  /validate:
    post:
      operationId: validateDocument
      summary: Validate an INHERIT document
      description: |
        Accepts a complete INHERIT document and returns validation results
        at three conformance levels: Schema Valid, Referentially Intact,
        and Jurisdiction Complete.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InheritDocument'
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResult'
        '400':
          description: Invalid JSON payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string

components:
  schemas:
    # Root document
    InheritDocument:
      description: The top-level INHERIT document envelope
      x-inherit-maturity: candidate
      $ref: '../../v1/schema.json'

    # Core entities (18)
    Estate:
      description: The estate — links all entities together
      x-inherit-maturity: candidate
      $ref: '../../v1/estate.json'
    Person:
      description: Any person referenced in the estate
      x-inherit-maturity: candidate
      $ref: '../../v1/person.json'
    Relationship:
      description: Relationship between two people
      x-inherit-maturity: candidate
      $ref: '../../v1/relationship.json'
    Kinship:
      description: Family group structure
      x-inherit-maturity: candidate
      $ref: '../../v1/kinship.json'
    Property:
      description: Real property (land, buildings)
      x-inherit-maturity: candidate
      $ref: '../../v1/property.json'
    Asset:
      description: Non-property assets (bank accounts, investments, etc.)
      x-inherit-maturity: candidate
      $ref: '../../v1/asset.json'
    Liability:
      description: Debts, mortgages, loans
      x-inherit-maturity: candidate
      $ref: '../../v1/liability.json'
    Bequest:
      description: A gift in a will
      x-inherit-maturity: candidate
      $ref: '../../v1/bequest.json'
    Trust:
      description: Trust arrangements
      x-inherit-maturity: draft
      $ref: '../../v1/trust.json'
    Executor:
      description: Named executor or administrator
      x-inherit-maturity: draft
      $ref: '../../v1/executor.json'
    Guardian:
      description: Guardian appointment for minor children
      x-inherit-maturity: draft
      $ref: '../../v1/guardian.json'
    Wish:
      description: Non-binding wishes (funeral, organ donation, etc.)
      x-inherit-maturity: draft
      $ref: '../../v1/wish.json'
    Document:
      description: Legal documents (wills, codicils, powers of attorney)
      x-inherit-maturity: draft
      $ref: '../../v1/document.json'
    Attestation:
      description: Witness attestation of a document
      x-inherit-maturity: draft
      $ref: '../../v1/attestation.json'
    ProxyAuthorisation:
      description: Power of attorney or deputyship
      x-inherit-maturity: draft
      $ref: '../../v1/proxy-authorisation.json'
    DealerInterest:
      description: Professional interest in the estate
      x-inherit-maturity: draft
      $ref: '../../v1/dealer-interest.json'
    NonprobateTransfer:
      description: Assets that pass outside the will
      x-inherit-maturity: draft
      $ref: '../../v1/nonprobate-transfer.json'

    # Common types (5)
    Money:
      description: Monetary amounts (integer pennies + currency)
      x-inherit-maturity: candidate
      $ref: '../../v1/common/money.json'
    Address:
      description: Postal addresses
      x-inherit-maturity: candidate
      $ref: '../../v1/common/address.json'
    Jurisdiction:
      description: ISO 3166-2 jurisdiction codes
      x-inherit-maturity: candidate
      $ref: '../../v1/common/jurisdiction.json'
    Identifier:
      description: External identifiers (NI number, passport, etc.)
      x-inherit-maturity: candidate
      $ref: '../../v1/common/identifier.json'
    TemporalRule:
      description: Time-bound legislation rules
      x-inherit-maturity: draft
      $ref: '../../v1/common/temporal-rule.json'

    # Extensions (13)
    ExtensionUkEnglandWales:
      description: IHT thresholds, intestacy rules, IFPA 1975 for England & Wales
      x-inherit-maturity: draft
      $ref: '../../v1/extensions/uk-england-wales/uk-england-wales.json'
    ExtensionUsEstate:
      description: US estate planning — community property, elective share, homestead
      x-inherit-maturity: draft
      $ref: '../../v1/extensions/us-estate/us-estate.json'
    ExtensionCanada:
      description: Canadian provincial succession rules
      x-inherit-maturity: draft
      $ref: '../../v1/extensions/canada/canada.json'
    ExtensionAustraliaNz:
      description: AU/NZ superannuation, family provision, Maori land
      x-inherit-maturity: draft
      $ref: '../../v1/extensions/australia-nz/australia-nz.json'
    ExtensionEuSuccession:
      description: Brussels IV, European Certificate of Succession, forced heirship
      x-inherit-maturity: draft
      $ref: '../../v1/extensions/eu-succession/eu-succession.json'
    ExtensionJapan:
      description: Japanese succession — koseki, iryubun, yōshi, isan bunkatsu
      x-inherit-maturity: draft
      $ref: '../../v1/extensions/japan/japan.json'
    ExtensionPrcChina:
      description: PRC succession — forced heirship, hukou, notarised certificates
      x-inherit-maturity: draft
      $ref: '../../v1/extensions/prc-china/prc-china.json'
    ExtensionSingaporeMalaysia:
      description: SG/MY — ISA, AMLA, CPF/EPF nominations, Distribution Act
      x-inherit-maturity: draft
      $ref: '../../v1/extensions/singapore-malaysia/singapore-malaysia.json'
    ExtensionLatinAmerica:
      description: Latin American succession — legítima, forced heirship, fourths system
      x-inherit-maturity: draft
      $ref: '../../v1/extensions/latin-america/latin-america.json'
    ExtensionIslamicSuccession:
      description: Faraid — fixed shares, residuary, awl/radd, wasiyya, waqf
      x-inherit-maturity: draft
      $ref: '../../v1/extensions/islamic-succession/islamic-succession.json'
    ExtensionJewishSuccession:
      description: Halachic inheritance — bekhor, mezonot, kinyan
      x-inherit-maturity: draft
      $ref: '../../v1/extensions/jewish-succession/jewish-succession.json'
    ExtensionHinduSuccession:
      description: Hindu succession — Mitakshara/Dayabhaga, HUF, stridhan
      x-inherit-maturity: draft
      $ref: '../../v1/extensions/hindu-succession/hindu-succession.json'
    ExtensionAfricaCustomary:
      description: Customary succession — patrilineal/matrilineal, family council, lobola
      x-inherit-maturity: draft
      $ref: '../../v1/extensions/africa-customary/africa-customary.json'

    # Validation result (inline)
    ValidationResult:
      type: object
      required:
        - valid
        - conformanceLevel
        - errors
      properties:
        valid:
          type: boolean
        conformanceLevel:
          type: integer
          enum: [0, 1, 2, 3]
          description: |
            0 = Invalid, 1 = Schema Valid, 2 = Referentially Intact,
            3 = Jurisdiction Complete
        errors:
          type: array
          items:
            type: object
            required:
              - path
              - message
              - level
            properties:
              path:
                type: string
              message:
                type: string
              level:
                type: string
                enum: [error, warning, info]
